# 5.데이터프레임 변경 (1)

- 데이터 전처리를 위해 꼭 익혀두어야 할 내용입니다.
- 반복 학습과 실습을 통해서 익숙해져야 합니다.

In [1]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# 데이터 읽어오기
path = 'https://raw.githubusercontent.com/Jangrae/csv/master/tips(2).csv'
tip =  pd.read_csv(path)

# 확인
tip.head()

,total_bill_amount,tip,male_female,smoke_yes_no,week_name,dinner_lunch,size
0,16.99,1.01,Female,No,Sun,Dinner,2
1,10.34,1.66,Male,No,Sun,Dinner,3
2,21.01,3.50,Male,No,Sun,Dinner,3
3,23.68,3.31,Male,No,Sun,Dinner,2
4,24.59,3.61,Female,No,Sun,Dinner,4

## 5.1.열 이름 변경

- 기존 데이터프레임의 열 이름을 적절히 변경해야 할 경우가 있습니다.
- 또는 집계 결과를 가진 열 이름을 이해하기 쉽게 변경해야 할 경우도 있습니다.

**1) 일부 열 이름 변경**

- **rename()** 메소드를 사용해 변경 전후의 열 이름을 딕셔너리 형태로 나열하는 방법으로 변경합니다.
- **inplace=True** 옵션을 설정해야 변경 사항이 실제 반영이 됩니다.
- 다음과 같이 열 이름을 변경합니다.
    - total_bill_amount → total_bill
    - male_female → sex
    - smoke_yes_no → smoker
    - week_name → day
    - dinner_lunch → time

In [3]:
# rename() 함수로 열 이름 변경
tip.rename(columns = {'total_bill_amount' : 'total_bill',
'male_female' : 'sex',
'smoke_yes_no' : 'smoker',
'week_name' : 'day',
'dinner_lunch' : 'time '}, inplace=True )

# 확인
tip.head()

   total_bill   tip     sex smoker  day   time   size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

**2) 모든 열 이름 변경**

- 모든 열 이름을 변경할 때는 **columns** 속성을 변경합니다.
- 변경이 필요없는 열은 기존 이름을 부여해 변경합니다.

In [4]:
# 모든 열 이름 변경:  
# ['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']
tip.columns = ['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

# 확인
tip.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## 5.2.열 추가

- 새로운 열을 추가하여 기존 데이터에서 계산된 결괏값을 저장해야할 경우가 있습니다.
- total_bill에 tip을 더한 값을 갖는 final_amt 열을 추가합니다.

In [5]:
# final_amt 열 추가: final_amt = total_bill + tip

tip[ 'final_amt' ] = tip['total_bill'] + tip['tip'] 
# 확인
tip.head()

   total_bill   tip     sex smoker  day    time  size  final_amt
0       16.99  1.01  Female     No  Sun  Dinner     2      18.00
1       10.34  1.66    Male     No  Sun  Dinner     3      12.00
2       21.01  3.50    Male     No  Sun  Dinner     3      24.51
3       23.68  3.31    Male     No  Sun  Dinner     2      26.99
4       24.59  3.61  Female     No  Sun  Dinner     4      28.20

- insert() 메소드를 사용하면 원하는 위치에 열을 추가할 수 있습니다.

In [6]:
# tip 열 앞에 div_tb 열 추가: div_tb = total_bill / size

tip.insert(1, 'div_tb', tip['total_bill' ] / tip['size'])

# 확인
tip.head()

   total_bill     div_tb   tip     sex smoker  day    time  size  final_amt
0       16.99   8.495000  1.01  Female     No  Sun  Dinner     2      18.00
1       10.34   3.446667  1.66    Male     No  Sun  Dinner     3      12.00
2       21.01   7.003333  3.50    Male     No  Sun  Dinner     3      24.51
3       23.68  11.840000  3.31    Male     No  Sun  Dinner     2      26.99
4       24.59   6.147500  3.61  Female     No  Sun  Dinner     4      28.20

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 범주형 값을 갖는 day 열이 어떤 값을 몇 개 갖고 있는지 확인하세요.

In [7]:
# 범주값 확인
tip['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

[문2] day가 Sat, Sun 이면 1, 나머지는 0 값을 갖는 holiday 열을 추가하세요.

In [8]:
# holiday 열 추가

# 0을 갖는 holiday열을 추가 한 후
# day값이 sat,sun 인경우는 holiday를 0에서 1로 변경

tip['holiday'] = 0

tip.loc[tip['day'].isin(['Sat','Sun']),  'holiday' ] = 1

# 확인
tip['holiday'].value_counts()

1    163
0     81
Name: holiday, dtype: int64

## 5.3.열 삭제

- 뭔가를 삭제할 때는 **항상 조심x100** 해야 합니다.

- 그리고 대부분 열을 삭제하기 때문에 **axis =1** 을 지정해야ㅕ한다.

**1) 열 하나 삭제**

- **drop()** 메소드를 사용해 열을 삭제합니다.
- axis=0: 행 삭제(기본 값) 
- axis=1: 열 삭제
- **inplace=True** 옵션을 지정해야 실제로 반영이 됩니다.

In [ ]:
# 열 하나 삭제: final_amt

tip.drop('final_amt',axis= 1, inplace = True)

# 확인
tip.head()

**2) 여러 열 삭제**

- 삭제할 열을 리스트 형태로 전달해 한 번에 여러 열을 제거할 수 있습니다.

In [ ]:
# 열 두 개 삭제: div_tb, day
tip.drop(['div_tb','day'],axis= 1, inplace = True)


# 확인
tip.head()

In [ ]:
#1,23의 인덱스 행 삭제
row_x = [1,2,3]
tip.drop(row_x, axis = 0 , inplace = True)
tip.head()

## 5.4.범주값 변경

- **map()** 메소드를 사용하면 범주형 값을 다른 값으로 쉽게 변경 할 수 있습니다.

<img src='https://raw.githubusercontent.com/jangrae/img/master/map.png' width=500 align="left"/>

- 다음 구문은 Male, Female을 각각 숫자 1, 0으로 변경합니다.

In [9]:
# Male -> 1, Female -> 0
tip['sex'] = tip['sex'].map({'Male':1, 'Female' : 0})

# 확인
tip.head()

,total_bill,div_tb,tip,sex,smoker,day,time,size,final_amt,holiday
0,16.99,8.495000,1.01,0,No,Sun,Dinner,2,18.00,1
1,10.34,3.446667,1.66,1,No,Sun,Dinner,3,12.00,1
2,21.01,7.003333,3.50,1,No,Sun,Dinner,3,24.51,1
3,23.68,11.840000,3.31,1,No,Sun,Dinner,2,26.99,1
4,24.59,6.147500,3.61,0,No,Sun,Dinner,4,28.20,1

- **replace()** 메소드도 map()메소드와 비슷한 기능을 갖는다.
<img src='https://raw.githubusercontent.com/jangrae/img/master/replace.png' width=500 align="left"/>

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] smoker 열의 값 Yes와 No를 각각 숫자 1과 0으로 변경하세요.

In [10]:
# Yes -> 1, No -> 0

tip['smoker'] = tip['smoker'].map({'Yes':1,'No':0})
tip

,total_bill,div_tb,tip,sex,smoker,day,time,size,final_amt,holiday
0,16.99,8.495000,1.01,0,0,Sun,Dinner,2,18.00,1
1,10.34,3.446667,1.66,1,0,Sun,Dinner,3,12.00,1
2,21.01,7.003333,3.50,1,0,Sun,Dinner,3,24.51,1
3,23.68,11.840000,3.31,1,0,Sun,Dinner,2,26.99,1
4,24.59,6.147500,3.61,0,0,Sun,Dinner,4,28.20,1
...,...,...,...,...,...,...,...,...,...,...
239,29.03,9.676667,5.92,1,0,Sat,Dinner,3,34.95,1
240,27.18,13.590000,2.00,0,1,Sat,Dinner,2,29.18,1
241,22.67,11.335000,2.00,1,1,Sat,Dinner,2,24.67,1
242,17.82,8.910000,1.75,1,0,Sat,Dinner,2,19.57,1
243,18.78,9.390000,3.00,0,0,Thur,Dinner,2,21.78,0

[문2] lunch와 dinner를 각각 숫자 0과 1로 변경

In [11]:
tip['time'] = tip['time'].replace({'Lunch':1,'Dinner':0})
tip.head()

,total_bill,div_tb,tip,sex,smoker,day,time,size,final_amt,holiday
0,16.99,8.495000,1.01,0,0,Sun,0,2,18.00,1
1,10.34,3.446667,1.66,1,0,Sun,0,3,12.00,1
2,21.01,7.003333,3.50,1,0,Sun,0,3,24.51,1
3,23.68,11.840000,3.31,1,0,Sun,0,2,26.99,1
4,24.59,6.147500,3.61,0,0,Sun,0,4,28.20,1

## 5.5.범주값 만들기

- 연속값을 구간을 나누어 범주값으로 표현하는 과정을 **이산화(Discretization)**라고 합니다.
- **cut(), qcut()** 함수를 사용하여 쉽게 이산화 과정을 수행할 수 있습니다.
- 연속값을 이산화 함으로써 더 심도있는 데이터 분석이 가능해집니다.
- 예를 들어 점수를 일정 구간으로 구분하면 점수 구간별 분석이 가능해집니다.
- 또한 데이터가 단순해져 머신러닝 학습 과정과, 모델 성능이 향상될 수 있습니다.
- 사용 방법이 다소 어렵지만 알아두면 상당히 편리한 기능입니다.

<img src='https://raw.githubusercontent.com/jangrae/img/master/cutqcut.png' width=800 align="left"/>

**1) cut() 함수**

- **크기**를 기준으로 구간을 나누고 싶을 때 **cut() 함수**를 사용합니다.
- 범위 개수를 지정하면 자동으로 크기를 기준으로 나눕니다.
-  tip 크기를 기준으로 4구간(a ~ d)으로 나누기 label = ['a','b','c','d'] tip['tip_grp'] = pd.cut( tip['tip'] , 4 , labels=label) # 확인 (0.991, 3.25]는 0.991은 포함하지 않고 3.25는 포함하는 값

In [12]:
# tip 크기를 기준으로 4구간(a ~ d)으로 나누기
tip['tip_grp'] = pd.cut(  tip['tip']  ,  4 , labels= list('abcd'))
# 확인
tip.head()

,total_bill,div_tb,tip,sex,smoker,day,time,size,final_amt,holiday,tip_grp
0,16.99,8.495000,1.01,0,0,Sun,0,2,18.00,1,a
1,10.34,3.446667,1.66,1,0,Sun,0,3,12.00,1,a
2,21.01,7.003333,3.50,1,0,Sun,0,3,24.51,1,b
3,23.68,11.840000,3.31,1,0,Sun,0,2,26.99,1,b
4,24.59,6.147500,3.61,0,0,Sun,0,4,28.20,1,b

In [13]:
# 범주값 확인
tip['tip_grp'].value_counts()

a    163
b     69
c     10
d      2
Name: tip_grp, dtype: int64

- 각 구간의 경계 값을 직접 지정할 수 있습니다.
- 우선 tip 열의 기술통계 정보를 살펴봅니다.

In [14]:
# 기술통계
tip.describe()

,total_bill,div_tb,tip,sex,smoker,time,size,final_amt,holiday
count,244.000000,244.00000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000
mean,19.785943,7.88823,2.998279,0.643443,0.381148,0.278689,2.569672,22.784221,0.668033
std,8.902412,2.91435,1.383638,0.479967,0.486667,0.449276,0.951100,9.890116,0.471887
min,3.070000,2.87500,1.000000,0.000000,0.000000,0.000000,1.000000,4.070000,0.000000
25%,13.347500,5.80250,2.000000,0.000000,0.000000,0.000000,2.000000,15.475000,0.000000
50%,17.795000,7.25500,2.900000,1.000000,0.000000,0.000000,2.000000,20.600000,1.000000
75%,24.127500,9.39000,3.562500,1.000000,1.000000,1.000000,3.000000,27.722500,1.000000
max,50.810000,20.27500,10.000000,1.000000,1.000000,1.000000,6.000000,60.810000,1.000000


- 다음 구문은 아래 범위에 따른 값을 갖는 tip_grp 열을 추가합니다.
  - 2.0 이하 → 'a'
  - 2.0 초과 2.9 이하 → 'b'
  - 2.0 초과 3.5625 이하 → 'c'
  - 3.5625 초과 10.0 이하 → 'd' 
- 음의 무한대는 -np.inf, 양의 무한대는 np.inf로 지정합니다.

In [15]:
# 라이브러리 불러오기
import numpy as np

# 등급 구하기
bin = [-np.inf, 2.0, 2.9, 3.5625, 10.0]
label = ['a', 'b', 'c', 'd']
tip['tip_grp'] = pd.cut( tip['tip']   , bins= bin  , labels=label )

# 확인
tip['tip_grp'].value_counts()

a    78
c    61
d    61
b    44
Name: tip_grp, dtype: int64

In [16]:
# 확인

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 기술통계 정보에서 total_bill 열의 25%, 50%, 75% 값을 조회해 q1, q2, q3 변수를 선언하세요.

In [17]:
# 기술통계
tip['total_bill'].describe()

count    244.000000
mean      19.785943
std        8.902412
min        3.070000
25%       13.347500
50%       17.795000
75%       24.127500
max       50.810000
Name: total_bill, dtype: float64

In [20]:
print(tip['total_bill'].describe()['25%'])
print(tip['total_bill'].describe()['50%'])
print(tip['total_bill'].describe()['75%'])

25% -m 13.3475
25% -m 17.795
25% -m 24.127499999999998

In [22]:
# 사분위수 
q1 = (tip['total_bill'].describe()['25%'])
q2 = (tip['total_bill'].describe()['50%'])
q3 = (tip['total_bill'].describe()['75%'])
print(q1,q2,q3)

13.3475 17.795 24.127499999999998

[믄2] 아래 범위와 값을 참조해 'a' ~ 'd' 값을 갖는 bill_grp 열을 추가하세요.

   - q1 이하 → 'a'
   - q1 초과 q2 이하 → 'b'
   - q2 초과 q3 이하 → 'c'
   - q3 초과 → 'd'

In [23]:
# 등급 구하기
mb= [-np.inf,q1,q2,q3,np.inf]
ml = list('abcd')

# 확인
tip['bill_grp'] = pd.cut( tip['total_bill'] , bins= mb  , labels=ml )
tip['bill_grp'].value_counts()

a    61
b    61
c    61
d    61
Name: bill_grp, dtype: int64

[문3] bill_grp 별 total_bill, tip의 평균을 집계하세요.

In [24]:
# 구간별 평균
tip_mean = tip.groupby('bill_grp', as_index=False)[['total_bill','tip']].mean()

# 확인
tip_mean

  bill_grp  total_bill       tip
0        a   10.691967  1.920656
1        b   15.618689  2.609672
2        c   20.498525  3.225246
3        d   32.334590  4.237541

**2) qcut() 함수**

- **개수**를 기준으로 구간을 나누고 싶을 때 **qcut() 함수**를 사용합니다.
- 구간 개수를 지정하면 자동으로 동일한 개수를 갖는 구간이 만들어집니다.
- 위 연습문제는 total_bill 열의 사분위 값을 기준으로 cut() 함수를 사용해 범위를 나누었습니다.
- 사분위는 값 개수를 기준으로 4분의 1씩 데이터를 갖는 4개 구간을 만든 것입니다.
- 그러므로 qcut() 함수를 사용해 4개 구간으로 나누면 같은 결과를 얻게 됩니다.

In [25]:
# 같은 개수의 total_bill을 갖는 4개 구간으로 나누기
tip['bill_grp2'] = pd.qcut(  tip['total_bill'] , 4  , labels=list('abcd') )

# 확인
tip.head()

,total_bill,div_tb,tip,sex,smoker,day,time,size,final_amt,holiday,tip_grp,bill_grp,bill_grp2
0,16.99,8.495000,1.01,0,0,Sun,0,2,18.00,1,a,b,b
1,10.34,3.446667,1.66,1,0,Sun,0,3,12.00,1,a,a,a
2,21.01,7.003333,3.50,1,0,Sun,0,3,24.51,1,c,c,c
3,23.68,11.840000,3.31,1,0,Sun,0,2,26.99,1,c,c,c
4,24.59,6.147500,3.61,0,0,Sun,0,4,28.20,1,d,d,d

- 다음과 같이 집계해서 이전의 결과와 같음을 확인할 수 있습니다.

In [26]:
# 구간별 평균
tip_mean = tip.groupby('bill_grp2', as_index=False)[['total_bill', 'tip']].mean()

# 확인
tip_mean

  bill_grp2  total_bill       tip
0         a   10.691967  1.920656
1         b   15.618689  2.609672
2         c   20.498525  3.225246
3         d   32.334590  4.237541