# ② character type data type

## 1. what is character type?

### 1) 문자열 표현

- '', ""를 씌어서 문자열 표현
- len() 함수로 문자열 길이 확인

In [6]:
# 출력(Hello kbs)
print('thanx4'   )
print("comin9"   )

thanx4
comin9

In [10]:
#변수 선언
a = 'thanx4'
b = "comin9"

print(a,b)
print(type(a), type(b))

thanx4 comin9
<class 'str'> <class 'str'>

In [5]:
# 길이 확인
len(a), len(b)

(6, 6)

### 2) 문자열 나열하기

- , 없이 나열 -> 합친 결과

In [8]:
# 콤마 없이 나열
q = 'thanx4' 'comin9'
z = 'thanx4','comin9' # 얘는 튜플
# 확인
print(q)
print(z)

thanx4comin9
('thanx4', 'comin9')

- 문자열을 콤마로 구분하면 튜플
- 튜플이란? (122, 242 ,563) 형태로 소괄호 안 값이 나열된 자료형

In [9]:
# 콤마로 구분해 나열
i = 'thanx4' ,  'comin9'

### 3) 여러 줄 문자열

- 문자 앞뒤에 '',"""를 3개를 나열,  또는 \\n을 사용해 여러 줄 표현이 가능
- print()를 반드시 써야함

In [12]:
q = "줄을 바꾸고 싶은 자리 바로 뒤에\n를 쓰면 된다."
print(q)

줄을 바꾸고 싶은 자리 바로 뒤에
를 쓰면 된다.

In [14]:
q1 = """다른 방법은 
따옴표를 종류 상관 없이 
3개 사용하여라."""
print(q1)

다른 방법은
따옴표를 종류 상관 없이
3개 사용하여라.

### 3. 문자열에 따옴표를 쓰고 싶다면?

- "문~~자 ' 열" 또는 ' 문자열 '
- \\' 또는 \\\"를 사용
- 마찬가지로 print()로 확인

In [23]:
# 문자열에 따옴표 넣기
kk = "문자열에 따옴표, '를 넣는 방법은 요렇게."
KK = '문자열에 따옴표, "를 넣는 방법은 요렇게.'

print(kk)
print(KK)

문자열에 따옴표, '를 넣는 방법은 요렇게.
문자열에 따옴표, "를 넣는 방법은 요렇게.

In [24]:
k2 = "혹은 \' 또는 \"를 사용"
print(k2)

혹은 ' 또는 "를 사용

### 5) 문자열에 역슬래쉬\ 넣기

In [25]:
k5 = "아니면 \\' 또는 \\\"를 사용."
print(k5)

아니면 \' 또는 \"를 사용.

## 2. character type operator

### 1) 문자열 + 문자열 = 문자열 결합

In [33]:
k1 = 'thanks ' 
k2 = 'for '
k3 = 'coming'

# 문자열 더하기
gg = k1 + k2 + k3

print(gg)

thanks for coming

### 2) 문자열 * 정수 = 문자열 반복

       ***************
       
       thanks for coming
       *****************

In [32]:
# 0을 곱하면 문자열 제거됨

q = '안녕 디지몬포켓몬'
print(q * 143)
print(q * 0)

안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬안녕 디지몬포켓몬

## 2-3.format method?

- 문자열 일부분만 바꿀 필요가 있을 때
- 이름만 변경할 때?
- 문자열 포맷팅이라함
- **문자열.format()** 형태로 사용

### 기본적인 사용

- 단순 문자열에서 { } 아무것도 아니다

In [34]:
# 단순 문자열
'별명:{}, 직업:{}, 나이:{}'

'별명:{}, 직업:{}, 나이:{}'

- format() 메소드를 사용해서 간편하게 데이터 입력 가능

In [35]:
# format
print('별명:{}, 직업:{}, 좋아하는숫자:{}'.format('팥병수','광부',12432151253))

별명:팥병수, 직업:광부, 좋아하는숫자:12432151253

In [40]:
# format
print('별명:{}, 직업:{}, 좋아하는숫자:{}'.format('팥병수','광부',13))

별명:팥병수, 직업:광부, 좋아하는숫자:13

- format() 메소드는 대부분 print() 함수랑 같이 사용

In [42]:
# 변수 선언
이름 = '천재'
빚 = 2312 
재산 = 2345.6789

print('이름:{}, 빚:{}, 재산:{}'.format(이름,빚,재산))

이름:천재, 빚:2312, 재산:2345.6789

**2) 표시 위치 지정**

- { } 안에 변수 위치 지정, 대부분 생략..
- 출력 형태, 소수 점 자리수 제어

In [44]:
# 변수 선언
a = '강태공'
b = 2019
c = 2345.6789


print('별명:{0}, 사망:{1}, 재산:{2}'.format(a,b,c)           ) # 정수는 d
print('별명:{0}, 사망:{1:,}, 재산:{2:.2f}'.format(a,b,c)       )
print('별명:{}, 사망:{}, 재산:{:,.2f}'.format(a,b,c)         )

별명:강태공, 사망:2019, 재산:2345.6789
별명:강태공, 사망:2,019, 재산:2345.68
별명:강태공, 사망:2019, 재산:2,345.68

### 3) 자릿수와 정렬 방식 지정

- 상세한 출력 정보 필요할 때?

In [48]:
# 소수점 자리수
print('{:.5f}'.format(142.7894214)) 
print('{:.4f}'.format(142.7894214)) 
print('{:.3f}'.format(142.7894214)) 
print('{:.1f}'.format(142.7894214))

142.78942
142.7894
142.789
142.8

In [46]:
# 위치 지정
print('[{0}] [{1}]'.format('강태공', 1214))

[강태공] [1214]

In [50]:
# 기본 정렬
print('[{0:10}] [{1:6}]'.format('강태공', 777777777777777777777))

[강태공       ] [777777777777777777777]

In [51]:
# 오른쪽, 왼쪽 정렬
print('[{0:>10}] [{1:<6}]'.format('강태공', 1300))

[       강태공] [1300  ]

In [52]:
# 가운데 정렬
print('[{0:^10}] [{1:^6}]'.format('강태공', 41230))

[   강태공    ] [41230 ]

In [53]:
# 공백을 다른 문자로 변환
print('[{0:-^10}] [{1:_^6}]'.format('강태공', 12123123142))
print('[{0:*^10}] [{1:_^6}]'.format('강태공', 1204153150))

[---강태공----] [12123123142]
[***강태공****] [1204153150]

### @연습 :  본인 이름과 토익, 토플, 토스 점수를 각 변수에 대입

In [55]:
# 변수 선언
name = '강태공'
to = 990
tp = 999
ts = 9999

### @연습 세 과목의 합 구하기

In [57]:
# 합 구하기
eng = to + tp + ts

### 연습 세 과목의 평균을 구해 보세요.

In [60]:
# 평균 구하기
eng_mean = eng / 3
print(eng_mean)

3996.0

In [65]:

print('{} 학생의 점수 합은 {:f} 이고 평균은 {:.1f} 입니다.'.format(name, eng, eng_mean))

강태공 학생의 점수 합은 11988.000000 이고 평균은 3996.0 입니다.

## 2-4. f-String

- 최근에 f-String을 더 많이씀

In [66]:
# 변수 선언
name = '강태공'
bir = 96
num = 1314531.4134

# 확인
print(f'별명: {name}')
print(f'생일: {bir}')
print(f'번호: {num}')
print(f'{name}의남바는 {num}입니다.')

별명: 강태공
생일: 96
번호: 1314531.4134
강태공의남바는 1314531.4134입니다.

- 출력되는 형태 조절 가능 (문자열:s, 정수:d, 실수:f)

In [69]:
# 확인
print(f'{bir}살의 {name}의 남바는 {num:,.2f}입니다.')
print(f'{bir}살의 {name}의 남바는 {num:.2f}입니다.') # 1000 구분점

96살의 강태공의 남바는 1,314,531.41입니다.
96살의 강태공의 남바는 1314531.41입니다.

[연습] 다음 코드를 실행하여 점수 합계와 평균을 구하세요.

In [71]:
# 변수 선언
name = '강태공'
age = 2412
score1 = 141231
score2 = 204531532
score3 = 25942646
score4 = 221452626
score5 = 267426262

# 합계
tot_score = score1 + score2 + score3 + score4 + score5

# 평균
avg_score = tot_score / 5 

# 연령대
age_group = 25 // 10 * 10

print("이름: ", name)
print(f"연령대: , {age_group}대") 
print(f"점수: {score1}, {score2}, {score3}, {score4}, {score5}")
print(f'합계: {tot_score:,} / 평균: {avg_score:.2f}')

이름:  강태공
연령대: , 20대
점수: 141231, 204531532, 25942646, 221452626, 267426262
합계: 719,494,297 / 평균: 143898859.40

[문2]  f-String을 사용해 위 변수들 값이 다음과 같은 형태로 출력되도록 코드를 작성하세요.

~~~
이름: 홍길동
연령대: 20대
점수: 153, 204, 259, 221, 267
합계: 1,104 / 평균: 220.80
~~~

In [107]:
# 확인
# 변수 선언
name = '홍길동'
age = 25
score1 = 153
score2 = 204
score3 = 259
score4 = 221
score5 = 267

# 합계
tot_score = score1 + score2 + score3 + score4 + score5

# 평균
avg_score = tot_score / 5 

# 연령대
age_group = 25 // 10 * 10

print("이름: ", name)
print(f"연령대: {age_group}대") 
print(f"점수: {score1}, {score2}, {score3}, {score4}, {score5}")
print(f'합계: {tot_score:,} / 평균: {avg_score:.2f}')

이름:  홍길동
연령대: 20대
점수: 153, 204, 259, 221, 267
합계: 1,104 / 평균: 220.80

In [113]:
a = '조선민주주의인민공화국'
print(a)
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])
print(a[0:9+1])

조선민주주의인민공화국
조
선
민
주
주
의
조선민주주의인민공화

## 2.5.문자열 인덱싱과 슬라이싱

- 문자열은 문자 요소가 모여서 만들어졌따, 즉 'kbs'는 'k', 'b', 's' 세 요소로 이루어짐
- 정수형 위치 인덱스를 사용해 원하는 요소를 조회가능 -> 인덱싱
- 범위 지정 후 일정 범위의 요소 조회 -> 슬라이싱

In [72]:

s = '피카츄라이추꼬부기'

# 문자열 인덱싱
print(s)
print(s[-5])
print(s[6])
print(s[-2])
print(s[:-2])

피카츄라이추꼬부기
이
꼬
부
피카츄라이추꼬

**2) 문자열 슬라이싱**

In [73]:
# 문자열 변수
s = '아리가또고자이마스미마센코쿠사리'

# 문자열 슬라이싱

print(s[0:4])
print(s[10:])
print(s[:])

아리가또
마센코쿠사리
아리가또고자이마스미마센코쿠사리

## 2.6.문자열 관련 주요 메소드

* 변수 뒤 '.함수' 형태로 사용하는 친구들....method!
- 그러나 그 결과값이 변수에 반영 X

In [75]:
# 대문자로 변환
s = "i want to go back to the heaven."
print(s.upper())         
print(s)

I WANT TO GO BACK TO THE HEAVEN.
i want to go back to the heaven.

- 변환 결과를 변수에 반영하려면 메소드가 반환하는 값을 변수에 대입해야 한다.

In [76]:
# 대문자로 변환
s = "i want to go back to the heaven."
print(s.upper())         # I HAVE A DREAM.

# 변수에 반영
s = s.upper()
print(s)                 # I HAVE A DREAM.

I WANT TO GO BACK TO THE HEAVEN.
I WANT TO GO BACK TO THE HEAVEN.

### 1) 대/소문자 변환

- **capitalize()** 메소드: 문자열 첫 문자만 대문자, 나머지 모두 소문자로 변환
- **title()** 메소드: 단어 첫 문자만 대문자, 나머지는 모두 소문자로 변환
- **upper()** 메소드: 모든 문자를 대문자로 변환
- **lower()** 메소드: 모든 문자를 소문자로 변환

### 2) 자릿수 지정과 정렬

- **rjust(x)** 메소드: 지정한 x 만큼의 자릿수를 확보한 후 오른쪽 정렬합니다.
- **ljust(x)** 메소드: 지정한 x 만큼의 자릿수를 확보한 후 왼쪽 정렬합니다.
- **center(x)** 메소드: 지정한 x 만큼의 자릿수를 확보한 후 가운데 정렬합니다.

In [77]:
# 지정한 길이의 문자열이 되도록 공백을 추가하고 정렬
s = 'korea'
print('[' + s.rjust(7) + ']')
print('[' + s.ljust(7) + ']')
print('[' + s.center(7) + ']')

[  korea]
[korea  ]
[ korea ]

**3) 일부 변경 및 제거**

- **replace(x, y)** 메소드: 문자열에 포함된 일부 문자열 x를 문자열 y로 변경합니다. -> 많이 씀!!!!!!!!!!
- **strip(x)** 메소드: 문자열에서 양쪽의 공백 또는 특수 문자를 제거합니다.

In [5]:
# 문자열 변경('now' --> 'now ')
s = 'nowhere'
s.replace('now', 'now ')

'now here'

In [10]:
# 앞 뒤 빈 문자열, 특수 문자 제거
print('  world '.strip()) # 
print('w o r l d'.replace(' ','')) # 문자 간 공백은 replace 로 
print('#world#$$#'.strip())
print('#world#$$#'.strip('$#'))

world
world
#world#$$#
world

# replace() 메소드를 사용하는 경우가 많으니 꼭 기억합시다!

In [16]:
# 문자열 변수 
num = '123,456'

# 콤마 제거 후 정수로 변환

print(int(num.replace(',','')))

# 연산
# print(num * 2)

123456

**4) 분리와 연결**

# split도 많이 쓴당

- **split((x)** 메소드: x 문자를 구분자로 하여 문자열을 분리하여 리스트로 변환합니다.(공백이 기본 구분자)
- **x.join(s)** 메소드: x를 구분자로 하여 요소들을 연결한 문자열로 변환합니다.

In [78]:
# 문자열 변수
s = 'you are so hot!'

# 문자열 분리
s.split(' ')

['you', 'are', 'so', 'hot!']

In [79]:
# 문자열 변수 
s = '1945-08-15'

# 문자열 분리
s.split('-')[0] # 스플릿을 하고 변수로 저장을 할까???
s.split('-')[1] # 스플릿을 하고 변수로 저장을 할까???
s.split('-')[2] # 스플릿을 하고 변수로 저장을 할까???

'15'

In [80]:
# 문자열 변수
s = '1/2/3/4/5/6/7/8/9'

# 문자열 분리
s_new = s.split('/')

# 확인
print(s_new)

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [33]:
# 문자열 변수
s = '2020-09-14'

# 문자열 분리
year = s.split('-')[0]
month = s.split('-')[1]
day = s.split('-')[2]

# 확인
print(f'오늘은 {year}년 {month}월 {day}일 입니다.')

오늘은 2020년 09월 14일 입니다.

# 위랑 똑같은 방법...

In [81]:
# 문자열 변수
s = '2020-09-14'

# 문자열 분리
dt = s.split('-')

# 확인
print('오늘은', dt[0], '년', dt[1], '월', dt[2], '일 입니다.')

오늘은 2020 년 09 월 14 일 입니다.

In [82]:
# 문자열 변수
s = '2020-09-14'

# 확인
print('오늘은', s.split('-')[0] , '년', s.split('-')[1] , '월', s.split('-')[2] , '일 입니다.') # 복잡함

오늘은 2020 년 09 월 14 일 입니다.

- join() 메소드로 구분자를 두어 연결된 문자열을 만듭니다.

In [38]:
# 중간에 특정 문자열 삽입
s = 'PYTHON'
s1 = '/'.join(s)
s1

'P/Y/T/H/O/N'

In [39]:
# 요소를 연결해서 문자열로
a = ['홍길동', '한사랑', '강우동', '박여인']
s = ','.join(a)

# 확인
s

'홍길동,한사랑,강우동,박여인'

In [ ]:
# 문자열 s를 구분자로 나누어 리스트로
b =

# 확인
b

**5) 표시 형식 지정**

- **format()** 메소드는 데이터 표시 위치와 모양을 설정할 때 사용합니다.

In [50]:
# 여러 변수를 한 줄에 입력
a, b, c = 10, 'Hello', 0.1
print('{} {} {}'.format(a, b, c))

10 Hello 0.1