# ④ Tuple type

- 튜플은 리스트와 비슷
- **소괄호(( ))**를 사용
- BUT 한 번 만들면 **값을 바꿀 수 없다**

## 1.튜플 생성

### 1) 다양한 튜플 생성

**1) 빈 튜플 만들기**

In [2]:
# 빈 튜플 만들기 #1
emptytuple = ()

# 확인
type(emptytuple)

tuple

**2) 요소가 하나인 튜플**

In [8]:
# 잘못 만든 예
wrong_tu = (90)

print(wrong_tu)
print(type(wrong_tu))

90
<class 'int'>

- 요소가 하나인 튜플은 반드시 **콤마 추가**

In [4]:
# 요소가 하나인 튜플 만들기!
t = ( 90 ,)

print(t)
print(type(t))
print(len(t))

(90,)
<class 'tuple'>
1

**3) 다양한 형태의 튜플**

In [6]:
# 여러 형태의 튜플 만들기
tu = (213213, 321321, 213213)
tu1 = "리자몽", "파이리", "리자드" # 괄호 생략
tu2 = (231, 85321, 703, ('버터풀', '이상해씨', '아구몬', '강병수'))

# 확인
print(tu)
print(tu1)
print(tu2)

(213213, 321321, 213213)
('리자몽', '파이리', '리자드')
(231, 85321, 703, ('버터풀', '이상해씨', '아구몬', '강병수'))

In [13]:
# range() 함수를 사용해 만들기

no = tuple(range(1,100,2))

print(no)

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99)

In [9]:
# 문자열로 튜플 만들기
chars = ('t', 'h', 'a', 'n', 'k', 's')

# 확인
print(chars)   # ('P', 'Y', 'T', 'H', 'O', 'N')

('t', 'h', 'a', 'n', 'k', 's')

### 2) 튜플 활용

- **괄호를 생략**할 수 있는 튜플의 특징을 이용

In [16]:
# 괄호 없이 튜플 만들기
a = 10
b = 20
c = a, b

# 확인
c

(10, 20)

- 여러 변수에 동시에 값을 대입할 수 있다.

In [13]:
# 여러 변수에 동시에 값 대입
엑시, 도지, 아파트 = 123120, 32132120, 33213210
print('엑시 =', 엑시,"원")
print('도지 =', 도지)
print('아파트 =', 아파트)

엑시 = 123120 원
도지 = 32132120
아파트 = 33213210

In [18]:
# 여러 변수에 동시에 값 대입(튜플 포함)
a, b, c = 10, 20, (1, 2, 3)
print('a =', a)
print('b =', b)
print('c =', c)

a = 10
b = 20
c = (1, 2, 3)

- 두 변수값을 교환 가능

In [19]:
# 변수 값 서로 변경
a, b = 10, 20
print('a =', a, 'b =', b)
a, b = b, a
print('a =', a, 'b =', b)

a = 10 b = 20
a = 20 b = 10

- 함수 리턴값을 대입도 가능하다.

In [14]:
# 튜플 사용
a, b = 45, 20
x, y = divmod(a, b)
print(x, y)

2 5

## 4.2.튜플 인덱싱과 슬라이싱

**1) 튜플 인덱싱**

In [ ]:
# 2번째 요소 확인
score = (90, 85, 70, 95)

# 확인

In [23]:
# 4번째 요소인 튜플 확인
score = (90, 85, 70, ('A', 'B', 'D', 'F'))

# 확인
score[3]

('A', 'B', 'D', 'F')

In [ ]:
# 4번째 요소 튜플의 요소 확인
score = (90, 85, 70, ('A', 'B', 'D', 'F'))

# 확인

**2) 튜플 슬라이싱**

In [ ]:
# 2번째 요소부터 끝까지
score = (90, 85, 70, 95)

# 확인

## 4.3.튜플 연산

In [20]:
# 두 개의 튜플 더하기
score1 = (90, 85, 70, 95)
score2 = (80, 85, 65, 90)
score3 = score1 + score2

# 확인
score3

(90, 85, 70, 95, 80, 85, 65, 90)

In [21]:
# 튜플 요소 여러번 반복
score1 = (90, 85, 70, 95)
score2 = score1 * 3
""
# 확인
score2

(90, 85, 70, 95, 90, 85, 70, 95, 90, 85, 70, 95)