# ⑥ dictionary

- 딕셔너리는 집합과 마찬가지로 **중괄호({ })**를 사용해 선언합니다.
- 하지만 {Key1: Value1, Key2: Value2, Key3: Value3}의 형태를 가지므로 집합과 구분됩니다.
- 딕셔너리는 순서의 의미가 없으며, **키(Key)를 사용해 값(Value)을 확인합니다.**
- 리스트와 더불어 많이 사용되는 자료형이니 필히 익숙해져야 합니다.

## 1. 딕셔너리 생성

### 1) 딕셔너리 직접  생성

**1) 일정한 정보를 갖는 딕셔너리**

In [1]:
# 영어:한글
w = {'banana': '사랑', 'sad': '슬픔', 'reality': '현실'}

# 확인
w['sad']

## 키값을 사용하여 밸류값을 찾을 수 있다.

'슬픔'

In [5]:
num = {'a' : 1, 'b':2, 'c':3}

import pandas as pd
pd.DataFrame(num, index = [0])

   a  b  c
0  1  2  3

In [8]:
# 이름:점수
sss = {'강태겅' : 41, '바보' : 341, '멍총이' : 4321}
sss

{'강태겅': 41, '바보': 341, '멍총이': 4321}

- 다음과 같이 요소를 아래로 나열하면 가독성이 좋아집니다.

In [10]:
# 이름:점수
sss = {'강태겅' : 41, 
       '바보' : 341, 
       '멍총이' : 4321}

# 확인
sss

{'강태겅': 41, '바보': 341, '멍총이': 4321}

**2) 다양한 정보를 갖는 딕셔너리**

- 리스트나 튜플을 Value로 가질 수 있습니다.

In [12]:
# 다양한 정보를 갖는 딕셔너리
info = {'이름':'강태공', 
           '나이': 3124, 
           '지역':'신주쿠'}

# 확인
info

{'이름': '강태공', '나이': 3124, '지역': '신주쿠'}

In [16]:
# Value가 리스트인 딕셔너리
member2 = {'이름': '강태공', 
           '취미': ['요리', '데이터분석', '낚시']}

# 확인
member2['취미'][0]

'요리'

**3) 숫자가 Key인 경우**

- 당연히 숫자도 Key가 될 수 있습니다.

In [17]:
# 숫자가 Key인 리스트
nums = {1:10, 2:20, 3:30}

# 확인
nums

{1: 10, 2: 20, 3: 30}

**4) 같은 Key 무시**

- 만일 Key가 같은 요소가 있으면 하나만 남기도 나머지는 무시됩니다.

In [20]:
# 딕셔너리 만들기
num = {'강감찬': 100, 
         '병수': 90, 
         '수양대군': 95, 
         '천우희': 90, 
         '재리': 75, 
         '짱구': 90,
         '재리': 123}

# 확인
score

{'강감찬': 100, '병수': 90, '수양대군': 95, '천우희': 90, '재리': 123, '짱구': 90}

**[참고] Key가 될 수 없는 리스트**

- 당연히 Key는 변경되면 안됩니다. 
- 튜플은 변경 불가능한 자료형이지만, **리스트는 변경 가능**한 자료형입니다.
- 그러므로 리스트는 딕셔너리의 Key가 될 수 없습니다.

In [21]:
# Key가 튜플인 딕셔너리
member = {('이름', '나이'): ['홍길동', 20]}

# 확인
member

{('이름', '나이'): ['홍길동', 20]}

In [22]:
# Key가 리스트인 딕셔너리(?)
member = {['이름', '나이']: ['홍길동', 20]}

TypeError: unhashable type: 'list'

**[참고] 또 다른 방법**

- dict 함수를 사용해 다음과 같이 만들 수도 있습니다.

In [23]:
# dict 함수로 만들기
member3 = dict(이름='홍길동', 나이=20, 지역='서울')

# 확인
member3

{'이름': '홍길동', '나이': 20, '지역': '서울'}

In [24]:
# dict 함수로 만들기
mems = [('이름', '홍길동'), ('나이', 20), ('지역', '서울')]
member4 = dict(mems)

# 확인
member4

{'이름': '홍길동', '나이': 20, '지역': '서울'}

### 2) 딕셔너리로 자료형 변환

- **dict() 함수**를 사용해 Key:Value 형태를 가질 수 있는 자료형을 딕셔너리로 변환합니다.
- 대부분 리스트로 딕셔너리를 만듭니다.

**1) 리스트 → 딕셔너리 변환**

- [Key, Value] 형태의 요소를 갖는 리스트를 딕셔너리로 변환해 봅니다.

In [25]:
# 리스트 만들기
members = [['홍길동', 100], ['일지매', 90], ['한여인', 90], ['강우동', 95]]

# 딕셔너리로 변환
member_dic = dict(members)

# 확인
member_dic

{'홍길동': 100, '일지매': 90, '한여인': 90, '강우동': 95}

**2) 튜플 → 딕셔너리 변환**

- 당연히 튜플을 딕셔너리로 변환할 수 있습니다.

In [ ]:
# 튜플 만들기
members = (('홍길동', 100), ('일지매', 90), ('한여인', 90), ('강우동', 95))

# 딕셔너리로 변환
member_dic =  dic(members)

# 확인
member_dic

## 6.2.딕셔너리 조회

- 딕셔너리는 요소 순서가 없으므로 인덱싱과 슬라이싱을 할 수 없습니다.
- **Key를 사용해 Value를 찾는 방식으로 조회합니다.**

In [26]:
# 딕셔너리 만들기
member = {'이름': '홍길동', 
          '취미': ['독서', '여행', '걷기']}
member

{'이름': '홍길동', '취미': ['독서', '여행', '걷기']}

In [28]:
# 이름 조회
member['이름']

'홍길동'

In [33]:

# 취미 조회
print(member['취미'])
print(member['취미'][0])
print(member['취미'][1])
print(member['취미'][2])

['독서', '여행', '걷기']
독서
여행
걷기

- **in** 연산자를 사용해 해당 key가 있는지 확인할 수 있습니다.

In [42]:
# 데이터 존재 여부 확인
print('이름'in member)# True
print('홍길동'in member)# False
print('여행'in member['취미'])# True

True
False
True

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 다음 정보를 갖는 members 라는 딕셔너리를 만들고 조회해 보세요.

- 이름: 강태공, 강감찬, 강토밴, 강한자
- 나이: 135, 2311, 23126, 24125
- 지역: 대전, 경주, 서울, 부천
- 취미: 낚시, 도박, 코인, 주식

In [45]:
# 딕셔너리 만들기
ms = { '이름' : ['강태공', '강감찬', '강토밴', '강한자'],
           '나이' : [123, 1513, 341, 531],
           '지역' : ['대전', '경주', '서울', '부천'],
           '취미' : ["낚시",'도박','코인','주식']}


# 확인
ms

{'이름': ['강태공', '강감찬', '강토밴', '강한자'],
 '나이': [123, 1513, 341, 531],
 '지역': ['대전', '경주', '서울', '부천'],
 '취미': ['낚시', '도박', '코인', '주식']}

In [46]:
# 이름 조회
ms['이름']

['강태공', '강감찬', '강토밴', '강한자']

In [47]:
# 나이 조회
ms['나이']

[123, 1513, 341, 531]

In [49]:
# 지역 조회
ms['지역']

['대전', '경주', '서울', '부천']

In [50]:
# 언어 조회
ms['취미']

['낚시', '도박', '코인', '주식']

## 6.3.딕셔너리 변경, 추가와 삭제

- 인덱스 대신 Key로 찾아 변경한다는 것 외에는 리스트와 같습니다.

**1) 변경, 추가**

In [70]:
# 딕셔너리 만들기
member = {'이름': '홍길동', 
          '나이': 20}

# 확인
member

{'이름': '홍길동', '나이': 20}

In [71]:
# 딕셔너리 요소 값 변경(나이 = 30)
member['나이'] = 30

# 확인
member

{'이름': '홍길동', '나이': 30}


- 없는 Key로 변경하면 Key:Value 형태로 추가됩니다.
- 있는 것은 변경만

In [73]:
# 딕셔너리에 요소 추가(취미 = 독서, 여행)
member['취미'] = ['독서','여행']

# 확인
member

{'이름': '홍길동', '나이': 30, '취미': ['독서', '여행']}

**2) 삭제**

In [77]:
# 딕셔너리 만들기
member = {'이름': '홍길동', 
          '나이': 20, 
          '지역':'서울',
          '성별': 'M',
          '등급': 'Gold'}

# 확인
member

{'이름': '홍길동', '나이': 20, '지역': '서울', '성별': 'M', '등급': 'Gold'}

- **del** 문으로 Key를 지정해 해당 요소를 삭제합니다.

In [78]:
# 지정한 요소 삭제
del member['나이']

# 확인
member

{'이름': '홍길동', '지역': '서울', '성별': 'M', '등급': 'Gold'}

- **pop()** 메소드를 사용하면 Key를 지정해 요소를 삭제할 수 있습니다.
- 그리고 삭제된 요소의 Value를 반환받습니다.

In [76]:
# 지정한 요소 삭제
del_member = member.pop('지역')

# 확인
print(del_member)
print(member)

서울
{'이름': '홍길동', '성별': 'M', '등급': 'Gold'}

- **popitem()** 메소드로 Key 지정 없이 임의의 요소를 삭제할 수 있습니다.
- 그리고 삭제된 요소의 key와 Value를 튜플 형태로 반환받습니다.

In [79]:
# 임의 요소 삭제
del_member = member.popitem()

# 확인
print(del_member)
print(member)

('등급', 'Gold')
{'이름': '홍길동', '지역': '서울', '성별': 'M'}

- 모든 요소 삭제는 **딕셔너리 = { }** 형태로 수행합니다.

In [ ]:
# 딕셔너리에서 모든 요소 삭제
member= {}

# 확인
member

## 6.4.딕셔너리 관련 메소드

- 딕셔너리 관련 메소드를 살펴봅니다.

**1) Key 확인**

- **keys()** 메소드를 사용해 Key 정보를 확인합니다.
- 모든 Key를 요소로 갖는 dict_keys 개체를 반환합니다.

In [80]:
# 딕셔너리 만들기
member = {'이름': '홍길동', 
          '취미': ['독서', '여행', '걷기']}

# 확인
member

{'이름': '홍길동', '취미': ['독서', '여행', '걷기']}

In [81]:
# Key 확인
member.keys()

dict_keys(['이름', '취미'])

In [83]:
# Key만 뽑아 리스트 만들기
member_keys = list(member.keys())

# 확인
member_keys

['이름', '취미']

**2) Value 확인**

- **values()** 메소드를 사용해 Value 정보를 확인합니다.
- 모든 Value를 요소로 갖는 dict_values 개체를 반환합니다.

In [84]:
# Value 확인
member.values()

dict_values(['홍길동', ['독서', '여행', '걷기']])

In [85]:
# Value만 뽑아 리스트 만들기
member_values = list(member.values())

# 확인
member_values

['홍길동', ['독서', '여행', '걷기']]

**3) Key, Value 확인**
- **items()** 메소드를 사용해 Key와 Value 정보를 확인합니다.
- 모든 key와 value를 (key, value) 형태로 갖는 dict_items 개체를 반환합니다.

In [91]:
# Key, Value 확인
member.items()
list(member.items())

[('이름', '홍길동'), ('취미', ['독서', '여행', '걷기'])]

**4) 모든 요소 삭제**
- **clear()** 메소드를 사용해 모든 요소를 삭제합니다.

In [92]:
# 모든 요소 삭제
member.clear()

# 확인
member

{}

**5) 찾기(없을 때 대신할 값 지정)**

- **get()** 메소드를 사용해 Key를 지정해 Value를 찾을 수 있습니다.
- Key로 Value를 찾을 수 없을 때 대신 표시할 값을 지정할 수 있습니다.

In [93]:
# 딕셔너리 만들기
member = {'이름': '홍길동', '취미': ['독서', '여행', '걷기']}

# 확안
member

{'이름': '홍길동', '취미': ['독서', '여행', '걷기']}

In [94]:
# 이름 확인
member.get('이름')

'홍길동'

In [95]:
# 이메일 확인
member.get('이메일')

- 대응되는 Value를 찾지 못할 경우 반환되는 값을 '없음'으로 지정해봅니다.

In [96]:
# 이메일 확인, 없으면 '없음' 표시
member.get('이메일', '없음')

'없음'

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 다음 구문을 파악하고 실행해서 3개의 딕셔너리를 만드세요.

In [6]:
# 딕셔너리 만들기
stu01 = {
    'no': 1,
    'name': '홍길동',
    'score': [92, 96, 98]
}
stu02 = {
    'no': 2,
    'name': '한사랑',
    'score': [98, 64, 100]
}
stu03 = {
    'no': 3,
    'name': '일지매',
    'score': [88, 84, 92]
}

# 확인
print(stu01)
print(stu02)
print(stu03)

{'no': 1, 'name': '홍길동', 'score': [92, 96, 98]}
{'no': 2, 'name': '한사랑', 'score': [98, 64, 100]}
{'no': 3, 'name': '일지매', 'score': [88, 84, 92]}

[문2] 각 학생들의 번호에 10씩 더하세요.

In [7]:
# 번호 + 10
stu01['no'] += 10
stu02['no'] += 10
stu03['no'] += 10

# 확인
print(stu01)
print(stu02)
print(stu03)

{'no': 11, 'name': '홍길동', 'score': [92, 96, 98]}
{'no': 12, 'name': '한사랑', 'score': [98, 64, 100]}
{'no': 13, 'name': '일지매', 'score': [88, 84, 92]}

[문3] 각 학생별로 점수 평균을 구하세요.

In [10]:
# 평균 구하기
stu01_mean = sum(stu01['score']) / len(stu01['score'])
stu02_mean = sum(stu02['score']) / len(stu02['score'])
stu03_mean = sum(stu03['score']) / len(stu03['score'])

# 확인


print(stu01_mean)
print(stu02_mean)
print(stu03_mean)

95.33333333333333
87.33333333333333
88.0

[문4] 아래 out을 이용하여 stu01, stu02, stu03의 번호, 이름, 평균점수를 출력하세요.

In [11]:
# 출력 형태
out = '번호: {}, 이름: {}, 평균점수: {}'

# 출력
print(out.format(stu01['no'],stu01['name'],stu01_mean))

번호: 11, 이름: 홍길동, 평균점수: 95.33333333333333

[문5] 평균점수는 소수점 이하 2자리만 보이게 수정해서 출력하세요.

In [ ]:
# 출력 형태
out = ?

# 출력