In [ ]:
import pandas as pd

In [ ]:
test = pd.read_csv('서울시 모기예보제 정보.csv',encoding='cp949')

In [ ]:
test

        모기지수 발생일  모기지수(수변부)  모기지수(주거지)  모기지수(공원)
0     2023-02-14        0.0        0.0       0.0
1     2023-02-13        0.0        0.0       0.0
2     2023-02-12        0.0        0.0       0.0
3     2023-02-11        0.0        0.0       0.0
4     2023-02-10        0.0        0.0       0.0
...          ...        ...        ...       ...
5529  1970-01-01        0.0        0.0       0.0
5530  1970-01-01        0.0        0.0       0.0
5531  1970-01-01        0.0        0.0       0.0
5532  1970-01-01        0.0        0.0       0.0
5533  1970-01-01        0.0        0.0       0.0

[5534 rows x 4 columns]

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5534 entries, 0 to 5533
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   모기지수 발생일   5534 non-null   object
 1   모기지수(수변부)  5522 non-null   float64
 2   모기지수(주거지)  5522 non-null   float64
 3   모기지수(공원)   5522 non-null   float64
dtypes: float64(3), object(1)
memory usage: 173.1+ KB

In [ ]:
test.isna().sum()

모기지수 발생일      0
모기지수(수변부)    12
모기지수(주거지)    12
모기지수(공원)     12
dtype: int64

In [ ]:
# NaN 제거
test.dropna(inplace=True)

In [ ]:
test.isna().sum()

모기지수 발생일     0
모기지수(수변부)    0
모기지수(주거지)    0
모기지수(공원)     0
dtype: int64

In [ ]:
# 중복값 확인
test['모기지수 발생일'].value_counts()

1970-01-01    2954
2021-10-06       3
2020-03-20       2
2020-03-19       2
2020-02-28       2
              ...
2020-11-27       1
2020-11-26       1
2020-11-25       1
2020-11-24       1
2019-10-15       1
Name: 모기지수 발생일, Length: 2437, dtype: int64

In [ ]:
test[test['모기지수 발생일']=='1970-01-01']

        모기지수 발생일  모기지수(수변부)  모기지수(주거지)  모기지수(공원)
2580  1970-01-01        0.0        0.0       0.0
2581  1970-01-01        0.0        0.0       0.0
2582  1970-01-01        0.0        0.0       0.0
2583  1970-01-01        0.0        0.0       0.0
2584  1970-01-01        0.0        0.0       0.0
...          ...        ...        ...       ...
5529  1970-01-01        0.0        0.0       0.0
5530  1970-01-01        0.0        0.0       0.0
5531  1970-01-01        0.0        0.0       0.0
5532  1970-01-01        0.0        0.0       0.0
5533  1970-01-01        0.0        0.0       0.0

[2954 rows x 4 columns]

In [ ]:
test[test['모기지수 발생일']=='2021-10-06']

       모기지수 발생일  모기지수(수변부)  모기지수(주거지)  모기지수(공원)
503  2021-10-06      100.0       48.7      53.1
504  2021-10-06      100.0       48.7      53.1
505  2021-10-06      100.0       48.7      53.1

In [ ]:
# 중복값 제거 
test.drop_duplicates(inplace=True, keep='first')
# 해당 row의 데이터가 모두 똑같을때 제거됩니다

# test.drop_duplicates(inplace=True, keep='first',subset=['모기지수 발생일'])
# 해당 row 에서 '모기지수 발생일'이 같으면 나머지 데이터가 달라도 제거됩니다. '기준'

In [ ]:
test[test['모기지수 발생일']=='2021-10-06']

       모기지수 발생일  모기지수(수변부)  모기지수(주거지)  모기지수(공원)
503  2021-10-06      100.0       48.7      53.1

In [ ]:
test[test['모기지수 발생일']=='1970-01-01']

        모기지수 발생일  모기지수(수변부)  모기지수(주거지)  모기지수(공원)
2580  1970-01-01        0.0        0.0       0.0

In [ ]:
test['모기지수 발생일'].value_counts()

2021-01-29    2
2022-03-16    2
2022-05-05    2
2020-04-25    2
2020-04-26    2
             ..
2020-11-22    1
2020-11-21    1
2020-11-20    1
2020-11-19    1
1970-01-01    1
Name: 모기지수 발생일, Length: 2437, dtype: int64

In [ ]:
test[test['모기지수 발생일']=='2021-01-29']
# 778 제거

       모기지수 발생일  모기지수(수변부)  모기지수(주거지)  모기지수(공원)
778  2021-01-29        2.1       -1.2     -24.3
779  2021-01-29        2.1        0.0       0.0

In [ ]:
# test[test['모기지수 발생일']=='2022-03-15']
test[test['모기지수 발생일']=='2022-03-16']
# 339 제거
# test[test['모기지수 발생일']=='2022-03-17']

       모기지수 발생일  모기지수(수변부)  모기지수(주거지)  모기지수(공원)
338  2022-03-16       39.3       13.1       0.6
339  2022-03-16       12.1        0.2       0.0

In [ ]:
test[test['모기지수 발생일']=='2022-05-05']
# 288 제거

       모기지수 발생일  모기지수(수변부)  모기지수(주거지)  모기지수(공원)
287  2022-05-05       62.6       26.8      17.7
288  2022-05-05       12.1        0.2       0.0

In [ ]:
test[test['모기지수 발생일']=='2020-04-25']
# 1068 제거

        모기지수 발생일  모기지수(수변부)  모기지수(주거지)  모기지수(공원)
1067  2020-04-25       54.7       22.7      32.7
1068  2020-04-25       36.3       15.0      21.6

In [ ]:
test[test['모기지수 발생일']=='2020-04-26']
# 1065 제거

        모기지수 발생일  모기지수(수변부)  모기지수(주거지)  모기지수(공원)
1065  2020-04-26       36.3       15.0      21.6
1066  2020-04-26       60.7       25.1      36.2

In [ ]:
test[test['모기지수 발생일']=='2020-04-27']
1064 제거

        모기지수 발생일  모기지수(수변부)  모기지수(주거지)  모기지수(공원)
1063  2020-04-27       71.7       29.7      42.8
1064  2020-04-27       36.3       15.0      21.6

In [ ]:
test['모기지수 발생일'].value_counts().loc[lambda x :x >1]

2021-01-29    2
2022-03-16    2
2022-05-05    2
2020-04-25    2
2020-04-26    2
2020-04-27    2
Name: 모기지수 발생일, dtype: int64

In [ ]:
test

        모기지수 발생일  모기지수(수변부)  모기지수(주거지)  모기지수(공원)
0     2023-02-14        0.0        0.0       0.0
1     2023-02-13        0.0        0.0       0.0
2     2023-02-12        0.0        0.0       0.0
3     2023-02-11        0.0        0.0       0.0
4     2023-02-10        0.0        0.0       0.0
...          ...        ...        ...       ...
2576  2016-05-04      256.2      256.2     256.2
2577  2016-05-03      304.0      304.0     304.0
2578  2016-05-02      273.5      273.5     273.5
2579  2016-05-01      254.4      254.4     254.4
2580  1970-01-01        0.0        0.0       0.0

[2443 rows x 4 columns]

In [ ]:
test.drop([1064,1065,1068,288,339,778,2580], axis=0, inplace=True)

In [ ]:
test['모기지수 발생일'].value_counts()

2023-02-14    1
2018-07-25    1
2018-08-01    1
2018-07-31    1
2018-07-30    1
             ..
2020-11-24    1
2020-11-23    1
2020-11-22    1
2020-11-21    1
2016-05-01    1
Name: 모기지수 발생일, Length: 2436, dtype: int64