# ③ List type

- 여러 값을 묶어서 갖는 컨테이너 자료형 중의 하나
- [ ] 안에 콤마로 구분해 값을 나열, 괄호 안 값을 요소라함
- 모든 데이터(숫자, 문자, 파일, 이미지 등등)가 리스트의 요소 가능
- 당연히 리스트가 리스트의 요소가 될 수 있다.
- Python에서 가장 많이 사용되는 자료형이 리스트

## 1. 일반 변수와 리스트 비교

**1) 일반 변수**

- 일반 변수를 사용하여 5명의 작업을 처리하기 위해선 **5개 변수**가 필요하다.

In [3]:
# 개별 값을 갖는 기존 변수
age1 = 85231
age2 = 90214
age3 = 804214
age4 = 7535
age5 = 95531

In [4]:
# 변수들의 합
age_sum = age1 + age2 + age3 + age4 + age5 

age_sum

1082725

**2) 리스트**

- 5명의 나이를 **리스트 하나**로 처리 가능

In [6]:
# 리스트 만들기
num = [854134 , 1341390 , 843140, 74315 ,9431415 ]

# 확인
num

[854134, 1341390, 843140, 74315, 9431415]

- sum() 함수 = 합계

In [11]:
# 리스트 요소의 합
tot_num = sum(num) 

# 결과
tot_num

12544394

- max() 함수 =  최댓값

In [10]:
# 리스트 요소 중 가장 큰 값
num_max = max(num)

# 결과
num_max

9431415

## 2. 리스트 생성

**1) 비어있는 리스트 생성**

- 비어있는 리스트를 생성해서 요소값을 받는다.
- list() 함수는 다른 자료형을 리스트로 변환하는 함임.

In [9]:
# 빈 리스트 만들기
age1 = []
age2 = list()

# 결과
print(age1)
print(age2)

[]
[]

**2) 동일한 자료형 요소의 리스트**

In [12]:
# 리스트 생성
age = [852, 925, 950, 775]

# 결과
print(age)
print(len(age))

[852, 925, 950, 775]
4

**3) 여러 자료형 요소의 리스트**

- 여러 자료형의 값을 요소로 갖는 리스트를 생성 가능

In [15]:
# 리스트 생서
fam = ['강태공', 42, '강감찬', 95, '강민구', 90,'강수량', 75]

# 결과
print(fam)
print(len(fam))

['강태공', 42, '강감찬', 95, '강민구', 90, '강수량', 75]
8

**4) 리스트를 요소로 갖는 리스트**

- 리스트를 요소로 갖는 리스트(List of List)
- 다음과 같은 형태를 가진 리스트를 2차원 리스트라고 한다..
- len() 함수를 이용하면 해당 리스트의 요소의 개수는 9 X -> 3 O
- 요소 3개씩을 갖는 리스트 3개가 age 리스트의 요소이다.

In [16]:
# 2차원 리스트 만들기
age = [[80, 90, 75], 
         [85, 70, 99],
         [90, 75, 80]]

# 결과
print(age)
print(age[0][0])
print(len(age))

[[80, 90, 75], [85, 70, 99], [90, 75, 80]]
80
3

## 3. range()를 활용한 리스트 생성

In [ ]:
# 리스트 만들기
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20]

# 결과
nums


- **연속된 숫자 , 정수**로 리스트를 만들 때는 **range()**를 쓰자
- range() 함수로 얻은 값을 리스트로 변환하는 것이다.
- list 이외에도 튜플, 집합, 딕셔너리 등을 만들 때도 사용된다.

**1) 기본 사용법**

- **range(*n*)**: 0 부터 n-1 까지
- **range(*m*, *n*)**: m 부터 n-1 까지

In [18]:
# 0 ~ 9 정수를 요소로 갖는 리스트
n = list(range(0,10))
n1 = list(range(10))

# 확인
print(n)
print(n1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]


- **range(*m*, *n*)**: m 부터 n-1 까지의 정수 범위

In [20]:
# -10 ~ 10 사이 정수를 요소로 갖는 리스트
nums = list(range(-10,11))  ######조심 10이 아니라 11이다!!!!

# 결과
nums

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**2) 증가값 지정**

- **range(*m, n, x*)**: m 부터 n-1 까지 x 만큼씩 증가하는 정수

In [22]:
# 0 ~ 100 사이, 14씩 증가하는 정수를 요소로 갖는 리스트
nums = list(range(0,101,14)) 

# 결과
nums

[0, 14, 28, 42, 56, 70, 84, 98]

In [ ]:
# 0 ~ 9 사이, 3씩 증가하는 정수를 요소로 갖는 리스트
nums = list(range(10,3)) 

# 결과
nums

In [23]:
# 9 ~ 0 사이, 1씩 감소하는 정수를 요소로 갖는 리스트
nums = list(range(9,0,-1)) 

# 결과
nums

[9, 8, 7, 6, 5, 4, 3, 2, 1]

## 4. 문자열로 리스트 만들기

In [32]:
# 단순 문자열
j_str = ('jejudo')
j_str1 = ('jejudo',) #요소 하나짜리 튜플

# 결과  
print(var_str)
print(var_str1)

PYTHON
('PYTHON',)

In [24]:
# 문자열 하나를 요소로 갖는 리스트
list_str = ['alalakwkmqwkl']

# 확인
list_str

['alalakwkmqwkl']

In [25]:
# 개별 문자를 요소로 갖는 리스트 #1
list_str = list('rndnsi')

# 확인
list_str

['r', 'n', 'd', 'n', 's', 'i']

## 5. 리스트 인덱싱(Indexing)

- 특정 요소, 즉 리스트 안에서 특정 값을 찾을 때는 **인덱스**
- **대괄호**, 즉 **[ ]** 안에 인덱스를 지정.
- **0부터 시작**하는 **정수형 위치 인덱스**를 사용
- 인덱스 역방향은 **-1**부터 시작

In [27]:
# 리스트 만들기
fam = ['강태공', 85, '유지태', 95, '박해수', 90, '박정희', 75]

# 인덱싱

print(fam[4])

print(fam[-1])

박해수
75

- 리스트를 요소로 갖는 리스트에 대한 인덱싱하는 법

In [28]:
# 리스트를 요소로 갖는 리스트
score = [80, [90, 100, 85], 85, 90]

# 인덱싱

print(score[1])
print(score[1][1])

[90, 100, 85]
100

## 6.리스트 슬라이싱(Slicing)

- 인덱스를 사용해 특정 **범위**의 요소를 찾는 과정
- 대괄호안에 [m:n] 형태로 범위를 지정하여 요소를 확인
- **인덱스 n의 요소는 결과에 포함 X.**

In [29]:
# 리스트 만들기
fam = ['강태공', 85, '유지태', 95, '박해수', 90, '박정희', 75]

# 슬라이싱

print(fam[:2])

print(fam[-4:])

print(fam[:])

print(fam[3::-1])

['강태공', 85]
['박해수', 90, '박정희', 75]
['강태공', 85, '유지태', 95, '박해수', 90, '박정희', 75]
[95, '유지태', 85, '강태공']

- 리스트를 요소로 갖는 리스트에 대한 슬라이싱

In [30]:
# 리스트를 요소로 갖는 리스트
score = [41343, [431490, 1464666600, 77777777777777777785], 85431431, 9531530]

# 슬라이싱

print(score[1:3])
print(score[1][1:])

[[431490, 1464666600, 77777777777777777785], 85431431]
[1464666600, 77777777777777777785]

## 7.리스트 연산

- **더하기**는 **결합**을, **곱하기**는 **반복**을 의미
- 빼기와 나누기 연산은 불가능

**1) 리스트 더하기**

- 리스트를 더하면 두 리스트가 연결된다. 문자열 더하는 거랑 똑같음!!

In [33]:
# 리스트 만들기
num = [90321, 842140, 9412415, 3153170]
num1 = [73213120, 753153155, 951350, 10153530]

# 두 리스트 더하기
num3 = num + num1

# 결과
num3

[90321, 842140, 9412415, 3153170, 73213120, 753153155, 951350, 10153530]

- 마찬가지로 복합 대입 연산자를 사용해 리스트를 연결할 수 있다.

In [37]:
# 빈 리스트 만들기
아무숫자 = []
# 리스트 연결
아무숫자 += [4421, 413480, 413495, 739589013750] 
아무숫자 += [99,999,9999,9999] # score = score + [ 90, 80, 95, 70]

# 결과
아무숫자

[4421, 413480, 413495, 739589013750, 99, 999, 9999, 9999]

**2) 리스트 반복**

- 리스트에 정수를 곱하면 반 복

In [40]:
# 리스트 만들기
아무리스트1 = [94310, 41380, 95315315, 753153150]

# 리스트 요소를 곱한 수 만큼 반복하기
아무리스트2 = 아무리스트1  * 2
아무리스트3 = 아무리스트1  * 3

# 결과
print(아무리스트1)
print(아무리스트2)
print(아무리스트3)

[94310, 41380, 95315315, 753153150]
[94310, 41380, 95315315, 753153150, 94310, 41380, 95315315, 753153150]
[94310, 41380, 95315315, 753153150, 94310, 41380, 95315315, 753153150, 94310, 41380, 95315315, 753153150]

In [67]:
a = [1] * 20
a

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

- 정수 0을 곱하면 리스트 요소가 모두 제거 = 문자열 연산과 동일??

In [42]:
# 리스트 만들기
리스1 = [90, 80, 95, 70]

# 리스트에 0 곱하기
리스빵 = 리스1 * 0

# 결과
print(리스1)
print(리스빵)

[90, 80, 95, 70]
[]

## 8.요소 변경, 추가, 삭제

- 인덱싱 또는 슬라이싱 결과값을 바꿀 수 있다.
- 또한 **append()**, **insert()** 메소드를 사용해 요소 추가 가능

**1) 범위 내 변경**

- 기존 요소의 값이 변경

In [54]:
# range() 함수로 리스트 생선
lis = list(range(8))

# 확인
lis

[0, 1, 2, 3, 4, 5, 6, 7]

In [51]:
# 특정 요소 값 변경
lis[1] = 10

# 확인
lis

[0, 10, 2, 3]

In [53]:
# 범위내 요소 값 변경
lis[2:4] = [20413541355315135, 353153153151350]

# 확인
lis

[0, 10, 20413541355315135, 353153153151350]

# 1대1 매핑이 아니라서 범위값(원래 3개) 대신 새로운 값 두 개으로 생성

In [57]:
# 범위내 요소 값 변경
lis[4:7] = [40, 50]

# 확인
lis

[0, 1, 2, 3, 40, 50]

**2) 범위 밖 변경**

- 리스트의 범위를 벗어나는 요소 값을 변경하면 그냥 요소가 추가됨.
- 반드시 범위가 연결되지 않아도 가능

In [60]:
# 범위를 벗어나는 요소 값 변경
lis[6:] = [7055, 6680, 890, 10220]

# 확인
lis

[0, 1, 2, 3, 40, 50, 7055, 6680, 890, 10220]

In [63]:
# 범위를 완전히 벗어나는 요소 값 변경
lis[999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999:] = [110, 120]

# 확인
lis

[0, 1, 2, 3, 40, 50, 7055, 6680, 890, 10220, 110, 120, 110, 120, 110, 120]

### 9. 추가

**1) 뒤에 요소 하나 추가**

- **append()** 메소드를 사용해서 맨 뒤에 요소 **하나**를 추가할 수 있다.
- 무조건 하나만!!!!!!!!!!!!!!!!!!!!!!!!! 추가 append(6,5) 안됨

In [64]:
# 0 ~ 4 정수를 갖는 리스트 만들기
nums = list(range(5))

# 확인
nums

[0, 1, 2, 3, 4]

In [65]:
# 맨 뒤에 요소 하나 추가
nums.append(5)

# 맨 뒤에 요소 하나 더 추가
nums.append(6)

# 확인
nums

[0, 1, 2, 3, 4, 5, 6]

In [66]:
# 맨 뒤에 리스트 하나를 요소로 추가
nums.append([7, 8])

# 확인
nums

[0, 1, 2, 3, 4, 5, 6, [7, 8]]

**2) 중간에 요소 추가**

- **insert()** 메소드를 사용하면 원하는 위치에 요소를 추가할 수 있습니다.

In [ ]:
# 리스트 만들기
nums = [10, 20, 40, 50]

# 확인
nums

In [ ]:
# 특정 위치에 요소 추가


# 확인
nums

**3) 뒤에 리스트 붙이기 #1**

- 리스트에 리스트를 더하면 리스트가 연결됩니다.

In [ ]:
# 리스트 만들기
nums = list(range(5))

# 확인
nums

In [ ]:
# 리스트 더하기
nums = nums + [5, 6, 7, 8, 9]

# 확인
nums

**4) 뒤에 리스트 붙이기 #2**

- **extend()** 메소드 사용해 리스트 뒤에 리스트를 붙일 수 있습니다.

In [ ]:
# 리스트 만들기
nums = list(range(5))

# 확인
nums

In [ ]:
# extend 메소드를 사용해서 다른 리스트 연결
nums.extend([5, 6, 7, 8, 9])

# 확인
nums

### 3.6.3.삭제

In [ ]:
# 리스트 만들기
nums = list(range(10, 100, 10))

# 확인
nums

**1) 특정 요소 삭제**

- **del** 다음에 인덱싱 구문을 추가해 해당 요소를 삭제합니다.

In [ ]:
# del문으로 특정 요소 삭제
#      [10, 20, 30, 40, 50, 60, 70, 80, 90]
# 인덱스 0   1   2   3   4   5   6   7   8

del nums[7]

# 확인
nums

**2) 범위 삭제**

- del 다음에 슬라이싱 구문을 추가해 해당 범위 요소를 삭제합니다.

In [ ]:
# 범위 지정하여 여러 요소 삭제
#      [10, 20, 30, 40, 50, 60, 70, 90]
# 인덱스 0   1   2   3   4   5   6   7

del nums[4:]

# 확인
nums

**3) 전체 삭제**

- [ ]를 대입하거나 **clear()** 메소드로 초기화합니다.

In [ ]:
# 모든 요소 삭제
nums = []

# 또는
#nums.clear()

# 확인
nums

## 3.7.리스트 복사

- 리스트 = 리스트 형태는 우리가 생각하는 복사가 아닙니다.
- **범위를 지정한 복사가 완전한(?) 복사입니다.**

In [ ]:
# 리스트 복사
nums = list(range(10))
nums_copy_1 = nums                  # 그냥 복사
nums_copy_2 = nums[:]               # 전체 범위를 지정하여 복사

# 확인
print(nums_copy_1)
print(nums_copy_2)

- 원본이든 복사본이든 한 쪽 변경이 다른 쪽에 영향을 준다면 완전한 복사가 아닙니다.

In [ ]:
# copy_1의 첫번째 값 변경 후 원본과 비교
nums_copy_1[0] = 'a'

# 확인
print(nums_copy_1)
print(nums_copy_2)
print(nums)

- 원본이든 복사본이든 한 쪽 변경이 다른 쪽에 영향을 주지 않을 때 완전한 복사입니다.

In [ ]:
# copy_2의 첫번째 값 변경 후 원본과 비교
nums_copy_2[0] = 'b'

# 확인
print(nums_copy_1)
print(nums_copy_2)
print(nums)

- 범위를 지정한 복사 방법 외에도 **copy()** 메소드를 사용하는 방법도 있습니다.
- 다음 두 구문이 완전히 복사하는 방법이 됩니다.

In [ ]:
# 완전 복사 방법
nums_copy_2 =
nums_copy_2 =

## 3.8.리스트 관련 메소드

- 다음 메소드들은 알아두면 편리하게 쓰일 때가 있습니다.
- 문자열 관련 메소드에 의한 변경은 변수에 바로 반영되지 않습니다. 
- 하지만 리스트 관련 메소드에 의한 변경은 변수에 바로 반영이 됩니다.

In [ ]:
# 변수 선언
a = 'I have a Dream.'
b = ['A', 'B', 'C', 'D']

# 메소드 사용
a.upper()
b.reverse()

# 확인
print(a)
print(b)

**1) count(), index() 메소드: 요소 개수와 위치 조회**

In [ ]:
# 리스트 만들기
score = [90, 80, 95, 70, 100, 65, 70, 100]

# 확인
score

In [ ]:
# 100점이 몇 개인지 확인
score.count(100)

In [ ]:
# 100점이 처음 나타나는 위치
score.index(100)

**2) append() 메소드: 요소 하나 추가**

In [ ]:
# 리스트 만들기
score = [90, 80, 95, 70, 100]
score

In [ ]:
# 리스트 맨 뒤에 새로운 요소 추가
score.append(85)

# 확인
score

In [ ]:
# 리스트에 리스트를 요소로 추가
score.append([85, 95, 90, 70, 85])

# 확인
score

**3) reverse(), sort() 메소드: 요소 순서 변경**

In [ ]:
# 리스트 만들기
member = ['홍길동', '일지매', '박여인', '한사랑', '강우동']

# 확인
member

In [ ]:
# 요소 뒤집기
member.

# 확인
member

In [ ]:
# 리스트 안의 요소를 오름차순으로 정렬
member.

# 확인
member

In [ ]:
# 리스트 안의 요소를 내림차순으로 정렬
member.

# 확인
member

**4) insert() 메소드: 지정한 위치에 요소 추가**

In [ ]:
# 리스트 만들기
member = ['일지매', '박여인', '한사랑']

# 확인
member

In [ ]:
# '박여인'과 '한사랑' 사이에 '한국인' 삽입
member.

# 확인
member

In [ ]:
# 마지막 요소 '한사랑' 앞에 '강우동' 삽입
member.

# 확인
member

In [ ]:
# 맨 앞 요소 '일지매' 앞에 '홍길동' 삽입
member.insert(0, '홍길동')
member

**5) remove(), pop(), clear() 메소드: 요소 삭제**

In [ ]:
# 리스트 만들기
member = ['홍길동', '일지매', '박여인', '한사랑', '박여인', '강우동']

# 확인
member

In [ ]:
# 첫 번째 '박여인' 삭제
member.remove('박여인')

# 확인
member

In [ ]:
# 3번째 요소 삭제
del_member = member.pop(2)

# 확인
print(del_member)
print(member)

In [ ]:
# 모든 요소 삭제
member.clear()

# 확인
member

### 괄호 주의보!
<img src='https://raw.githubusercontent.com/jangrae/img/master/parenthesis.png' width=700 align="left"/>

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 아래 코드를 실행하기 전에 결과를 예측해 보고, 실행 후에 결과와 비교해 보세요.

In [ ]:
# 리스트 만들기
del_member = []
member = ['홍길동', '일지매', '박여인', '한사랑', '박여인', '강우동']

# 요소 삭제
del_member.append(member.pop(0))
del_member.append(member.pop(0))
del_member.append(member.pop(0))

# 확인
print(del_member)
print(member)

**6) extend() 메소드: 리스트 연결**

In [ ]:
# 리스트 만들기
score = [90, 80, 95, 70, 100]

# 확인
score

In [ ]:
# 리스트에 리스트 붙이기
score.extend([65, 70, 100])

# 확인
score

In [ ]:
# 두 리스트 연결
add_score = [80, 95, 75]
score.extend(add_score)

# 확인
score