# ⑤ set data type

- **집합 연산**(교집합, 합집합, 차집합, 대칭 차집합)을 위한 자료형
- 중복값은 의미가 없다, 따라서 중복된 원소는 하나만 표현
- 또한 **순서에 의미가 없으므로 인덱싱 조회 불가.**

## 1. 집합 만들기

### 1) 직접 만들기

**1) 정수 집합**

In [1]:
# 정수를 갖는 집합
# 중복값은 의미가 없다!!! 
# 또한 집합 내의 순서도 상관이 없다
# 리스트에서 중복값을 제거하려면 집합으로 바꾸고 다시 리스트로 한다.

s = { 1,2,3,4,5,5,5,5,5,5,5,5,}

s

{1, 2, 3, 4, 5}

**2) 문자 집합**

In [7]:
# 문자열을 갖는 집합
cs = {'강태공','조로','사스케'}
cs

{'강태공', '사스케', '조로'}

**3) 여러 자료형 집합**

In [10]:
# 여러 자료형을 갖는 집합
etc = { (1,2,3),'강병수',11}

# 확인
etc

{(1, 2, 3), 11, '강병수'}

### 3) 집합으로 자료형 변환

- **set()** 함수로 다른 자료형을 집합으로 변환
- 순서는 무작위!

**1) 문자열 → 집합**

- list(), tuple() 함수로 문자열을 리스트나 튜플로 변환...리멤버
- set() 함수로 개별 문자 요소의 집합 생성 가능!

In [3]:
# 문자열로 집합 만들기
니뽄 = set('스미마셍아리가또고자이마스') 

니뽄

# 스 가 중복이 되어 사라짐

{'가', '고', '또', '리', '마', '미', '셍', '스', '아', '이', '자'}

**2) range() → 집합**

- range() 함수로 리스트, 튜플, 집합등 다양한 자료형을 만들 수 있습니다.

In [5]:
# range로 집합 만들기
전자range = set(range(0, 214,42))

# 확인
전자range

{0, 42, 84, 126, 168, 210}

**3) 리스트 → 집합**

- 리스트에서 집합 변환 시 중복된 요소는 제거

In [8]:
# 리스트 만들기
people = ['사스케', '나루토', '카카시', '사쿠라', '사이']

# 집합 만들기
people1 = set(people)

# 확인
people1

{'나루토', '사스케', '사이', '사쿠라', '카카시'}

**4) 튜풀 → 집합**

- 역시 중복된 요소는 제거됩니다.

In [9]:
# 튜플 만들기
member = ('사스케', '나루토', '카카시', '사쿠라', '사이')

# 집합 만들기
member2 = set(member)

# 확인
member2

{'나루토', '사스케', '사이', '사쿠라', '카카시'}

### 4) 집합 정보 확인

- **len()**  = 원소 개수 확인
- **in** = 집합 요소 확인

**1) 원소 개수 확인**

In [11]:
# 집합 만들기
member1 = {'사스케', '나루토', '카카시', '사쿠라', '사이'}
member2 = {'오비토', '페인', '데이다라'}

# 확인
print(len(member1), len(member2))

5 3

**2) 원소 포함 여부 확인**

In [14]:
# 집합 만들기
member1 = {'사스케', '나루토', '카카시', '사쿠라', '사이'}
member2 = {'오비토', '페인', '데이다라'}

# 확인
print('사스케' in member1)
print('' not in member2)

True
True

### 5) 집합 활용 #1

- **list()** 튜플 or 집합 -> 리스트
- **tuple()** 리스트 or 집합 -> 튜플
- **set()** 리스트 or 튜플을  -> 집합

**1) 리스트 중복 요소 제거**

- 집합은 중복된 요소가 없음.
- 이를 이용해 리스트에서 중복된 요소 제거 가능

In [19]:
# 리스트 만들기 
nums = [12, 45, 23, 21, 36, 28, 12, 36, 35, 28, 45, 63, 12, 21]

# 리스트 --> 집합 변환
nums = set(nums)

# 집합 --> 리스트 변환
nums = list(nums)

#확인
nums

#순서는 무의미하다.

[35, 36, 12, 45, 21, 23, 28, 63]

**2) 튜플 중복 요소 제거**

- 튜플도 마찬가지임.

In [13]:
# 튜플 만들기 
nums = (12, 45, 23, 21, 36, 28, 12, 36, 35, 28, 45, 63, 12, 21)

# 튜플 --> 집합 --> 튜플 변환
nums = tuple(set(nums))
#확인
nums

(35, 36, 12, 45, 21, 23, 28, 63)

## 2.집합 연산

### 5.2.1.교집합, 합집합, 차집합

- 집합 자료형을 사용하는 목적...

**1) 합집합**

- 합집합은 **|** 또는 **union()** 메소드

In [22]:
# 집합 만들기
member_set1 = {'홍길동', '한사랑', '일지매', '박여인'}
member_set2 = {'한사랑', '홍길민', '강우동'}

# 합집합 구하기 #1
member_set3 = member_set1 | member_set2

# 확인
member_set3

{'강우동', '박여인', '일지매', '한사랑', '홍길동', '홍길민'}

In [23]:
# 합집합 구하기 #2
member_set3 = member_set1.union(member_set2)

# 확인
member_set3

{'강우동', '박여인', '일지매', '한사랑', '홍길동', '홍길민'}

**2) 교집합**

- 교집합은 **&** 또는 **intersection()** 메소드

In [24]:
# 집합 만들기
member_set1 = {'홍길동', '한사랑', '일지매', '박여인'}
member_set2 = {'한사랑', '홍길민', '강우동'}

# 교집합 구하기 #1
member_set3 = member_set1&member_set2

# 확인
member_set3

{'한사랑'}

In [25]:
# 교집합 구하기 #2
member_set3 = member_set1.intersection(member_set2)

# 확인
member_set3

{'한사랑'}

**3) 차집합**

- 차집합은 **-** 또는 **difference()** 메소드

In [15]:
# 집합 만들기
member_set1 = {'홍길동', '한사랑', '일지매', '박여인'}
member_set2 = {'한사랑', '홍길민', '강우동'}

# 차집합 구하기 #1
member_set3 = member_set1 - member_set2

# 확인
member_set3

{'박여인', '일지매', '홍길동'}

In [16]:
# 차집합 구하기 #2
member_set3 = member_set1.difference(member_set2)

# 확인
member_set3

{'박여인', '일지매', '홍길동'}

**4) 대칭 차집합**

- **^** 또는 **symmetric_difference()**

In [27]:
# 집합 만들기
member_set1 = {'홍길동',  '한사랑', '일지매', '박여인'}
member_set2 = {'한사랑', '홍길민', '강우동'}

# 대칭 차집합 구하기 #1
member_set3 = member_set1 ^ member_set2

# 확인
member_set3

{'강우동', '박여인', '일지매', '홍길동', '홍길민'}

In [28]:
# 대칭 차집합 구하기 #2
member_set3 = member_set1.symmetric_difference(member_set2)

# 확인
member_set3

{'강우동', '박여인', '일지매', '홍길동', '홍길민'}

### 5.2.2.집합 활용

**1) 리스트 중복 확인**

- 우선 **교집합**을 활용해 두 리스트 사이의 중복된 요소를 확인한다.

# 중요!!!

In [32]:
# 리스트 만들기 
nums1 = [12, 23, 32, 36, 41, 48]
nums2 = [12, 19, 24, 32, 36, 47]

# 집합 변환 후 교집합 구하기
nums = set(nums1) & set(nums2)

# 집합 --> 리스트 변환
nums = list(nums)

#확인
nums

[32, 36, 12]

**2) 리스트 중복 없이 합치기**

- **합집합** 기능을 활용해 두 리스트의 중복을 제거, 합칠 수 있다.

In [35]:
# 리스트 만들기 
nums1 = [12, 23, 32, 36, 41, 48]
nums2 = [12, 19, 24, 32, 36, 47]

# 집합 변환 후 합집합 구하기

nums = set(nums1) | set(nums2)


# 집합 --> 리스트 변환

nums =list(nums)
nums

[32, 36, 41, 12, 47, 48, 19, 23, 24]

## 5.3.집합 관련 메소드

- 집합 관련 메소드 몇 가지를 정리합니다.

**1) 요소 하나 추가**

- 요소 하나!!!!를 추가할 때는 **add()** 메소드
- 리스트는 add()가 아닌 append() 임...꼭 기억

In [45]:
# 집합 만들기
member_set = {'쵸파', '우솝', '츠나데', '사쿠라'}

# 원소 하나 추가
member_set.add('강태공')

# 확인
member_set

{'강태공', '사쿠라', '우솝', '쵸파', '츠나데'}

**2) 여러 요소 추가**

- 여러 요소를 추가할 때는 **update()** 메소드를 사용
- update() 메소드가 변경X 추가 O

In [46]:
member_set = {'쵸파', '우솝', '츠나데', '사쿠라'}

# 여러 원소(리스트, 튜플, 딕셔너리) 추가 
member_set.update(['이치고', '짱구'])

# 확인
member_set

{'사쿠라', '우솝', '이치고', '짱구', '쵸파', '츠나데'}

**3) 무작위 한 요소 삭제**

- 집합은 순서가 없기 때문에 무작위로 요소 하나를 삭제할 때는 **pop()** 
- pop() 메소드는 삭제되는 요소를 반환하면서 삭제 = 중요

In [49]:
# 집합 만들기
member_set = {'쵸파', '우솝', '츠나데', '사쿠라'}

# 무작위로 원소 하나 삭제
del_member = member_set.pop()

# 확인
print(member_set)
print(del_member)

{'츠나데', '우솝', '사쿠라'}
쵸파

**4) 요소 삭제(없으면 오류)**

- 요소를 지정해서 삭제할 때는 **remove()** 
- 삭제하려는 요소가 없으면 에러 발생
- discard() 메소드와 비교해보기

In [1]:
# 집합 만들기
member_set = {'쵸파', '우솝', '츠나데', '사쿠라'}

# 원소 하나 삭제
member_set.remove('츠나데')

# 확인
member_set

{'사쿠라', '우솝', '쵸파'}

In [2]:
# 없는 원소를 삭제하면 오류 발생
member_set.remove('전두환')

# 확인
member_set

KeyError: '전두환'

**5) 요소 삭제(없으면 무시)**

- 요소를 지정해서 하나 삭제할 때는 **discard()** 
# -remove() 메소드와는 달리 삭제하려는 요소가 없어도 에러 발생 안 남

In [54]:
# 집합 만들기
member_set = {'쵸파', '우솝', '츠나데', '사쿠라'}

# 없는 원소를 삭제하면 무시
member_set.discard('홍길동')
member_set.discard('노태우')

# 확인
member_set

{'사쿠라', '우솝', '쵸파', '츠나데'}

**6) 모든 원소 삭제**

- 모든 요소를 삭제할 때는 **clear()**

In [3]:
# 집합 만들기
member_set = {'홍길동', '한사랑', '일지매', '박여인'}

# 모든 원소 삭제
member_set.clear()

# 확인
member_set

set()