# ⑦ control statements

## 1. if 문

**1) 단순 if 문**

- 조건이 참인 경우만 처리
- 조건이 거짓인 경우는 아무고토 X

In [2]:
# 변수 선언
number = 87994123165

# 80보다 크거나 같으면 100000 더하기 
if number >= 80:
    number = number +  100000

# 결과 출력
number

87994223165

In [5]:
a = [1,2,3,4,5]
bool(a)

True

In [8]:
no_list = [71235, 83120, 41270, 41295, 41290]

# 리스트에 요소가 있으면 출력, 없으면 말고 
if no_list:
    print(no_list)

[71235, 83120, 41270, 41295, 41290]

**2) if ~ else 문**

- 조건이 참인 경우와 참이 아닌 경우 각각 처리합니다.

In [10]:
# 변수 선언
my_num = 96

# 80보다 크거나 같으면 Pass, 아니면 Fail 

if my_num >= 96:
    print('P')
else:
    print('F')


# 결과 출력    
print(my_num)

P
96

In [11]:
# 리스트 만들기
num_list = [1, 2, 3, 4, 6]

# 리스트에 요소가 있으면 출력, 없으면 '요소 없음' 출력 

if num_list :
    print('요소있')
    print(num_list)
else:
    print('요소없')

print('마무링')

요소있
[1, 2, 3, 4, 6]
마무링

In [ ]:
# 리스트 만들기
score_list = [75, 80, 70, 95, 90]

# 한 줄로 작성하기
if score_list: print(score_list)
else: print('요소 없음')

In [14]:

number = [3, 84120, 41270, 6495, 64390]

# 우선 pass 
if number:
    pass
else:
    print('요소 X')

**3) if ~ elif ~ else 문**

In [17]:
점수 = 80.1

# 점수에 따른 학점 주기 
if 점수 >= 90:
    학점 = 'A'
elif 점수 >= 80:
    학점 = 'B'
elif 점수 >= 70:
    학점 = 'C'
elif 점수 >= 60:
    학점 = 'E'
else:
    학점 = 'F'

# 결과 출력
학점

'B'

[문1] 다음 셀을 수행해 오늘 요일이 숫자로 표시됨을 확인하고, 다음 셀을 완성해 보세요.

In [19]:
# 오늘의 요일 확인
from datetime import datetime
dt = datetime.now()
week_num = dt.weekday()
week_num

0

In [22]:
# 숫자로된 요일이 '월' ~ '일' 문자로 표시되게 조건문 작성
if week_num == 0:
    week_str = '월'
elif wekek_num == 1:
    week_str = '화'
elif wekek_num == 2:
    week_str = '수'
elif wekek_num == 3:
    week_str = '목'  
elif wekek_num == 4:
    week_str = '금'
elif wekek_num == 5:
    week_str = '토'
else:
    week_str = '일'
print(week_str)

#print는 문자의 인용구 없이 출력해줌!

월

In [23]:
#리스트 활용
요일 = ['월','화','수','목','금','토','일']
print('week_num=', week_num)
print(요일[week_num])

week_num= 0
월

In [24]:
#문자열활용
요일 = '월화수목금토일'
print('week_num=',요일)
print(요일[week_num])

week_num= 월화수목금토일
월

[문2] score 값에 따라 등급을 주는 다음의 조건문을 완성하세요.
- 95점 이상 A+. 90점 이상 A, 85점 이상 B+, 80점 이상 B, 75점 이상 C+. 70점 이상 C, 60점 이상 D, 60점 미만 F

In [28]:
# 변수 선언
점수1 = 72
점수2 = 90
점수3 = 76

점수 = 점수1
 
# 조건 처리

if 점수 >= 95:
    학점 = 'A+'
elif 점수 >= 90:
    학점 = 'A'
elif 점수 >= 85:
    학점 = 'B+'
elif 점수 >= 80:
    학점 = 'B'
elif 점수 >= 75:
    학점 = 'C+'
elif 점수 >= 70:
    학점 = 'C'
elif 점수 >= 60:
    학점 = 'D'
else:
    학점 = 'F'

   
# 확인   
print(학점)

C

[문3] score1, score2, score3 점수에 대하여 다음 조건이 처리되도록 조건문을 완성하세요. 
- 하나라도 60점 이하거나 점수의 평균이 70점 이하이면 Fail
- 그렇지 않은 경우에는 Pass

In [36]:
# 변수 선
점수1 = 60
점수2 = 100
점수3 = 76

# 조건 처리

if 점수1 <= 60:
    결과 = 'Fail'
elif 점수2 < 60:
    결과 = 'Fail'
elif 점수3 < 60:
    결과 = 'Fail'
elif sum(점수1 + 점수2 + 점수3) / 3 <= 70:
    결과 = 'Fail'
else:
    결과 = '통과했다 우하하하하하하'
print(결과)

Fail

[문4] 위 코드를 if 한번과 else 한번으로 수정해보세요.

In [40]:
# or --> 필터 |
if (점수1 <= 60) | (점수2 <= 60) | (점수3 <= 60) | ((점수1 + 점수2 + 점수3) / 3 <= 70):
    결과 = 'Fail'
else:
    결과 = "통과했다"
    
print(결과)

Fail

## 2. for 문

- 첫번째 값부터 마지막 값까지 하나씩 가져가면서 처리
- 반복할 횟수가 정해진 반복문.

In [42]:
# 문자열의 문자 줄력
for i in 'PYTHON':
    print(i)

P
Y
T
H
O
N

In [55]:
# 리스트 요소 출력
result = []
for i in [0, 1, 2, 3, 4]:
    if i % 2 == 0:
        result.append(i)
        print(result) # 중간에 경과를 보고 싶을 때
print('=========================')        
print(result) # 마지막 결과만 보고 싶을 때

[0]
[0, 2]
[0, 2, 4]
=========================
[0, 2, 4]

In [56]:
# range() 함수 사용해 범위 지정
print(range(5))
print(list(range(5)))

range(0, 5)
[0, 1, 2, 3, 4]

In [59]:
# 범위안의 값 출력
for i in range(5):
    print(i+1)

1
2
3
4
5

In [63]:
# if 문과 같이 사용(짝수만 출력)
for i in range(5):
    if i % 2 == 0:
        print(i,"짝수만출력했어요 하하")

0 짝수만출력했어요 하하
2 짝수만출력했어요 하하
4 짝수만출력했어요 하하

In [64]:
# 리스트 만들기
fruits = ['apple', 'banana', 'cherry']

# 리스트 요소 출력

for i in fruits:
    print(i)

apple
banana
cherry

In [69]:
# 리스트 만들기
fruits = ['apple', 'banana', 'cherry']

# 리스트 요소 출력 6문자 이상인 경우만

for i in fruits:
    if len(i) >= 6:
        print(i)

banana
cherry

In [72]:
# 리스트 만들기
fruits = ['apple', 'banana', 'cherry']

# 리스트 요소 4글자씩 출력 == 인덱싱히세용

for i in fruits:
    print(i[:4])

appl
bana
cher

[문1] 다음 셀을 코드를 수정해 1부터 10까지 짝수의 합을 구해 보세요.

In [73]:
# 1부터 10까지 짝수의 합
s = 0
for i in range(1, 11):
    if i % 2 == 0:
        s = s + i
print('합 =', s)

합 = 30

[문2] for문과 range를 사용하여 1 ~ 100까지의 합을 구하세요.

In [75]:
# 1부터 100까지 합
s = 0
for i in range(1, 101):
    s = s + i
print('합=',s)

합= 5050

[문3] for 문과 range를 사용하여 1 ~ 100까지 수 중 7의 배수를 출력하세요.

In [81]:
# 1부터 100까지 7의 배수

배수 = []
for i in range(1, 101):
    if i % 7 ==0:
        배수.append(i)
print(배수)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

## 3. 리스트와 for 문

- 반복문과 가장 많이 사용되는 자료형이 리스트형입니다.

**1) 기본 반복문**

- 첫 번째 요소부터 마지막 요소까지를 대상으로 코드를 반복 처리합니다.

In [94]:
member = ['강태공', '사스케', '데이다리', '라이즈', '마오카이']

# 루프 돌면서 이름 출력

for i, m in enumerate(member):
    print(i, m)

0 강태공
1 사스케
2 데이다리
3 라이즈
4 마오카이

In [93]:
member = ['강태공', '사스케', '데이다리', '라이즈', '마오카이']
list(enumerate(member))

[(0, '강태공'), (1, '사스케'), (2, '데이다리'), (3, '라이즈'), (4, '마오카이')]

**2) enumerate() 함수 사용**

- 영어 단어 enumerate의 뜻은 '**낱낱이 세다**' 입니다.
- 문자열이나 컨테이너 자료형을 입력받아, 순번과 요소를 포함하는 오브젝트로 반환합니다.
- 순번과 요소를 반환하여 몇 번째, 어느 요소를 처리하고 있는지 확인 가능하게 합니다.

In [99]:
# '순번: 이름' 형태로 출력

member = ['강태공', '사스케', '데이다리', '라이즈', '마오카이']

for idx, mem in enumerate(member):
    print(f'{idx}: {mem}')

0: 강태공
1: 사스케
2: 데이다리
3: 라이즈
4: 마오카이

In [100]:
# 순번이 짝수인 경우만 '순번: 이름' 형태로 출력

member = ['강태공', '사스케', '데이다리', '라이즈', '마오카이']

for idx, mem in enumerate(member):
    if idx % 2 == 0:
        print(f'{idx}: {mem}')

0: 강태공
2: 데이다리
4: 마오카이

In [104]:
# 문자열과 enumerate

김흥국 = '아~싸~호랑나비!!! 한 마리가 ! 꽃밭에!? 앉았는데! '

for i,x in enumerate(김흥국):
    print(i,x)

0 아
1 ~
2 싸
3 ~
4 호
5 랑
6 나
7 비
8 !
9 !
10 !
11
12 한
13
14 마
15 리
16 가
17
18 !
19
20 꽃
21 밭
22 에
23 !
24 ?
25
26 앉
27 았
28 는
29 데
30 !
31

**3) 반복문 확장**

- 이 방법을 사용하면 반복문 코드가 매우 간결해집니다.
- 처음에는 다소 낯설 수 있으나, 이것이 **Python 스러운 문법**이라 할 수 있습니다.

In [105]:
# 리스트 만들기
nums = [0, 1, 2, 3, 4]

# 빈 리스트 만들기
squares = []

# 2를 곱한 결과를 squares 리스트에 추가
for x in nums:
    squares.append(x ** 2)

# 확인
squares

[0, 1, 4, 9, 16]

In [110]:
# 리스트 만들기
nums = [1344124521432142412, 24231231231231223123121331321312, 53131231231243123213, 3231312312213213214,1132131232121323213243,3213332132153154,765376]

# 반복문 확장 문법 #1
squares = [x ** 2 for x in nums if x % 2 == 0]

# 확인
squares

[1806670729115185866253316368249177744,
 587152566981395417285667387563213642933221675484283315785401344,
 10441379259060702311004041410624209796,
 10325503391527934762712112147716,
 585800421376]

In [112]:
# 리스트 만들기
nums = [0, 1, 2, 3, 4]

# 반복문 확장 문법 #2 
# 반복문 + 조건문: 짝수인 값의 제곱을 구해서 even_squares 리스트에 넣기
even_squares = [x ** 2 for x in nums if x % 2 == 0]

# 확인
even_squares

[0, 4, 16]

[문1] 다음 두 셀의 코드를 완성해 보세요.

In [147]:
# 리스트 만들기
my_nums = [10, 22, 30, 41, 56, 60, 71, 80, 90]

# 마지막에 100 추가

my_nums.append(100)

# 확인
print(my_nums)

[10, 22, 30, 41, 56, 60, 71, 80, 90, 100]

In [148]:
# my_nums 리스트에서 10의 배수만을 뽑아 그 값을 10으로 나눈 정수값을 갖는 새로운 리스트 만들기
new_nums = [x / 10 for x in my_nums if i % 10 == 0 ]

# 확인
print(new_nums)

[]

[문2] score에서 음수를 제거한 리스트를 score01 변수에 담으세요.

In [135]:
score = [75, 46, 93, -82, -77, 130, 100, 75, -10]

score01 = [x for x in score if x >= 0 ]
print(score01)

[75, 46, 93, 130, 100, 75]

[문3] score01에서 100보다 큰 수를 제외한 리스트를 score02 변수에 담으세요.

In [124]:
score02 = [ x for x in score01 if x<= 100]
score02

[75, 46, 93, 100, 75]

[문4] score02 리스트의 요소들 합과 평균을 구하세요.

In [125]:
tot = sum(score02)
mean = tot / len(score02)

[문5] score02 리스트의 각 요소의 값을 10으로 나눈 값을 갖는 리스트 score03을 만드세요.

In [129]:
score03 = [x / 10 for x in score02]
score03

[7.5, 4.6, 9.3, 10.0, 7.5]

## 4.딕셔너리와 for 문

**1) 기본 반복문**

In [130]:
# 딕셔너리 만들기
score = {'홍길동': 85, '한사랑': 95, '일지매': 90}

# key와 value 조회
for k in score:
    v = score[k]
    print(f'{k}: {v}')

홍길동: 85
한사랑: 95
일지매: 90

**2) items() 메소드 사용**

- 딕셔너리를 반복문에 사용할 때 key와 value를 반환해주는 items() 메소드를 많이 사용합니다.

In [132]:
# items() 메소드 사용
score = {'홍길동': 85, '한사랑': 95, '일지매': 90}

for k,v in score.items():
    print(f'{k}: {v}')

홍길동: 85
한사랑: 95
일지매: 90

[문1] 학생 이름과 점수를 갖는 아래 딕셔너리에 대해 반복문을 작성해 다음과 같이 학생들 이름과 점수 합이 출력되게 해보세요.

~~~
홍길동: 350
한사랑: 355
일지매: 300
~~~

In [134]:
# 딕셔너리 만들기
score = {'홍길동': [85, 80, 90, 95], 
         '한사랑': [95, 90, 80, 90], 
         '일지매': [90, 70, 60, 80]}
         
for k, v in score.items():
    print(f'{k}:',sum(v))

홍길동: 350
한사랑: 355
일지매: 300

**3) 반복문 확장**

- 앞에서 '리스트와 for 문'에서 다룬 내용과 동일하게 딕셔너리에 대해 사용할 수 있습니다.

In [139]:
# 딕셔너리 만들기
score = {'홍길동': 85, '한사랑': 95, '일지매': 90}

# 확인
score

{'홍길동': 85, '한사랑': 95, '일지매': 90}

In [143]:
# 확장 문법 - 반복문 + 제어문
score_over_90 = {k:v for k, v in score.items() if v > 90}

# 확인
score_over_90

{'한사랑': 95}

- 다음과 같은 코드로 같은 결과를 얻을 수 있습니다.

In [151]:
# items() 메소드 사용 안하면
score_over_90 = {k: score[k] for k in score if score[k] > 90}

# 확인
print(score_over_90)

{'한사랑': 95}

## 5.집합과 for 문

- 리스트와 같은 방법으로 사용합니다.

**1) 기본 반복문**

- 리스트와 같은 방법으로 반복문에 사용합니다.

In [149]:
# 리스트와 같음
member_set = {'홍길동',  '한사랑', '일지매', '박여인'}
for mem in member_set:
    print(mem)

일지매
한사랑
박여인
홍길동

**2) enumerate() 함수 사용**

In [150]:
# enumerate() 함수 사용
member_set = {'홍길동',  '한사랑', '일지매', '박여인'}
for idx, mem in enumerate(member_set):
    print('{}: {}'.format(idx + 1, mem))

1: 일지매
2: 한사랑
3: 박여인
4: 홍길동

## 6. while 문

- 조건문이 True인 동안 while문 안의 문장이 반복해서 실행됩니다.
- 특정 상황에서 반복을 중지하게 while 문 안에서 조건을 제어합니다.

**1) 일반 while 문**

- 문자열 길이를 반환하는 len() 함수가 리스트의 요소 개수를 반환합니다.

In [153]:
# 리스트 만들기
fruits = ['apple', 'banana', 'cherry']

# 요수 출력
i = 0
while i<3:
    print(fruits[i])
    i = i + 1

apple
banana
cherry

**2) 무한루프 다루기**

- break 문: 반복문 안에서 특정 조건이 되어 반복문을 빠져 나올 때 사용합니다.
- continue 문: 반복문을 중단시키지 않고 다음 반복으로 넘어갈 때 사용합니다.

In [163]:
# 변수 선언
tot, i = 0, 0

# 100까지 짝수 합 구하기

while True: #wihle true = 무한루프임...
    i = i + 1
    if i > 100:
        break
    elif i % 2 == 0:
        tot = tot + i
    else : 
        continue #다시 while문으로 가는거,, 밑에 구문이 없다면 의미없음.
    # print('i=',i,'번', tot)

print(tot)

2550

[문1] 다음 셀의 코드는 위 셀의 코드와 같습니다. 내용 중에서 굳이 필요 없는 두 줄이 있습니다. 찾아서 제거해 보세요.

In [ ]:
# 변수 선언
tot, i = 0, 0

#  100까지 짝수 합 구하기
while True:
    i += 1
    if i > 100:
        break
        
    if i % 2 == 0:
        tot += i
    else: #필요없음
        continue #필요옶음

# 확인
tot

- input() 함수를 사용해 사용자의 입력을 받을 수 있습니다.
- isnumeric() 메소드: 숫자이면 True 아니면 False 반환합니다.

In [ ]:
a = input('뭐드릴까예?')
print(a)

In [ ]:
# 문자를 입력하면 continue, 0을 입력하면 break, 아니면 10으로 나눈 나머지 표시
while True:
    response = input('숫자를 입력하세요(0 = 종료):')
    if not response.isnumeric():
        continue
    if int(response) == 0:
        break
    result = int(response) % 10
    print("{} 나누기 10의 나머지는 {}입니다.".format(response, result))

In [2]:
no = [] 

while True:
    x = input('숫자를 입력하세요(0 = 종료):')
    if not x.isnumeric():
        continue
    if int(x) == 0:
        break
    no.append(int(x))
    
print(x)

숫자를 입력하세요(0 = 종료):1
숫자를 입력하세요(0 = 종료):2
숫자를 입력하세요(0 = 종료):3
숫자를 입력하세요(0 = 종료):4
숫자를 입력하세요(0 = 종료):5
숫자를 입력하세요(0 = 종료):6
숫자를 입력하세요(0 = 종료):7
숫자를 입력하세요(0 = 종료):8
숫자를 입력하세요(0 = 종료):9
숫자를 입력하세요(0 = 종료):0
0